Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

RequirementMachine: Perform nested type concretization for superclass requirements too
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
  lib/AST/RequirementMachine/EquivalenceClassMap.h
Owners: @DougGregor

RequirementMachine: Split up list of associated types in ProtocolGraph
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
  lib/AST/RequirementMachine/ProtocolGraph.cpp
  lib/AST/RequirementMachine/ProtocolGraph.h
  lib/AST/RequirementMachine/RequirementMachine.cpp
  lib/AST/RequirementMachine/RewriteSystem.cpp
Owners: @DougGregor

RequirementMachine: Don't change concrete type to ErrorType in case of a conflict
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
Owners: @DougGregor

RequirementMachine: Split off getRelativeTermForType() from concretizeNestedTypesFromConcreteParent()
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
Owners: @DougGregor

RequirementMachine: Add reverse iterators over Term and MutableTerm
  lib/AST/RequirementMachine/RewriteSystem.cpp
  lib/AST/RequirementMachine/RewriteSystem.h
Owners: @DougGregor

RequirementMachine: New way to tie off type witness recursion
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
  lib/AST/RequirementMachine/EquivalenceClassMap.h
  test/Generics/unify_nested_types_4.swift
Owners: @DougGregor, @rudkx

RequirementMachine: Enforce that rewrite rules preserve the term's 'domain'
  lib/AST/RequirementMachine/RewriteSystem.cpp
  lib/AST/RequirementMachine/RewriteSystem.h
Owners: @DougGregor

RequirementMachine: Handle null pointer return from getTypeWitness()
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
Owners: @DougGregor

GSB: Set HadAnyError in two more places
  lib/AST/GenericSignatureBuilder.cpp
Owners: @rudkx

RequirementMachine: Support DependentMemberTypes in remapConcreteSubstitutionSchema()
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
  test/Generics/unify_nested_types_3.swift
Owners: @DougGregor, @rudkx

RequirementMachine: Fix superclass requirement vs concrete completion heuristic
  lib/AST/RequirementMachine/EquivalenceClassMap.cpp
  lib/AST/RequirementMachine/EquivalenceClassMap.h
  test/Generics/unify_nested_types_5.swift
Owners: @DougGregor, @rudkx

insert hops after end_access when possible
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
Owners: @DougGregor

inject hop_to_executor in async actor inits
  lib/SILOptimizer/Mandatory/DIMemoryUseCollector.cpp
  lib/SILOptimizer/Mandatory/DIMemoryUseCollector.h
  lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp
Owners: @DougGregor

add assertion to catch AccessSet usage errors
  stdlib/public/runtime/Exclusivity.cpp
Owners: @DougGregor

runtime regression test for async actor init
  test/Concurrency/Runtime/actor_init.swift
Owners: @DougGregor

SIL test for hop_to_executor in async actor inits
  test/SILOptimizer/definite_init_actor.swift
Owners: @rudkx

wip
  stdlib/public/Distributed/ActorTransport.swift
  stdlib/public/Distributed/DistributedActor.swift
  test/Distributed/Runtime/distributed_actor_isRemote.swift
Owners: @DougGregor

[moveOnly] Add experimental move only value checker.
  include/swift/AST/DiagnosticsSIL.def
  include/swift/SIL/DebugUtils.h
  include/swift/SIL/SILInstruction.h
  include/swift/SILOptimizer/PassManager/Passes.def
  include/swift/SILOptimizer/Utils/CanonicalOSSALifetime.h
  lib/SIL/Parser/ParseSIL.cpp
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILOptimizer/Mandatory/CMakeLists.txt
  lib/SILOptimizer/Mandatory/MoveOnlyChecker.cpp
  lib/SILOptimizer/Mandatory/OwnershipModelEliminator.cpp
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  lib/SILOptimizer/Utils/CanonicalOSSALifetime.cpp
  test/SILOptimizer/move_only_checker.sil
Owners: @rudkx, @DougGregor

Turn off swift test.
  utils/build-presets.ini
Owners: @rudkx

Improve string conversion performance
  stdlib/public/core/Int128.swift.gyb
Owners: @DougGregor

Update Int128.swift.gyb
  stdlib/public/core/Int128.swift.gyb
Owners: @DougGregor

Update string conversions to avoid race conditions.
  stdlib/public/core/Int128.swift.gyb
Owners: @DougGregor

Update Int128.swift.gyb
  stdlib/public/core/Int128.swift.gyb
Owners: @DougGregor

Enable importing ptrauth qualified function pointers from c by default
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
  test/IRGen/ptrauth_field_fptr_import.swift
  test/SILGen/ptrauth_field_fptr_import.swift
Owners: @rudkx

[Macros] Use 'LibraryPluginProvider' in swift-plugin-server
  test/Macros/macro_plugin_server.swift
  tools/swift-plugin-server/CMakeLists.txt
  tools/swift-plugin-server/Sources/CSwiftPluginServer/PluginServer.cpp
  tools/swift-plugin-server/Sources/CSwiftPluginServer/include/PluginServer.h
  tools/swift-plugin-server/Sources/swift-plugin-server/swift-plugin-server.swift
Owners: @DougGregor

Enable indexing for refs to implicit declarations.
  lib/Index/Index.cpp
  test/Index/index_imported_objc.swift
  test/Index/index_refs_to_synthesized_decls.swift
Owners: @rudkx

Force coverage on for testing
  lib/IRGen/GenCoverage.cpp
  lib/SIL/IR/SILProfiler.cpp
  lib/SILGen/SILGenFunction.cpp
Owners: @rudkx, @DougGregor

Allow enabling embedded Swift without WMO when not generating SIL
  lib/Frontend/CompilerInvocation.cpp
Owners: @rudkx

[stdlib] The param to replaceSubrange is eagerMove.
  stdlib/public/core/Array.swift
  stdlib/public/core/ArrayBufferProtocol.swift
Owners: @DougGregor

Prevent partial_apply cloning.
  lib/SIL/IR/SILInstruction.cpp
  lib/SILOptimizer/Utils/LoopUtils.cpp
  test/SILOptimizer/simplify_cfg_ossa_jump_threading.sil
Owners: @DougGregor, @rudkx

[stdlib] replaceSubrange's j index is eagerMove.
  stdlib/public/core/ArrayBufferProtocol.swift
Owners: @DougGregor

[stdlib] Enable lexical lifetimes.
  stdlib/cmake/modules/AddSwiftStdlib.cmake
Owners: @DougGregor

[stdlib] _copySequenceContent's it is eagerMove.
  stdlib/public/core/Sequence.swift
Owners: @DougGregor

[stdlib] The param to isSuperset is eagerMove.
  stdlib/public/core/Set.swift
Owners: @DougGregor

[stdlib] Marked many @owned T : Sequence/Collection args @_eagerMove.
  stdlib/public/core/ArrayShared.swift
  stdlib/public/core/ArraySlice.swift
  stdlib/public/core/Collection.swift
  stdlib/public/core/ContiguousArrayBuffer.swift
  stdlib/public/core/Dictionary.swift
  stdlib/public/core/DictionaryVariant.swift
  stdlib/public/core/DropWhile.swift
  stdlib/public/core/Filter.swift
  stdlib/public/core/Join.swift
  stdlib/public/core/NativeDictionary.swift
  stdlib/public/core/RangeReplaceableCollection.swift
  stdlib/public/core/Sequence.swift
  stdlib/public/core/SequenceAlgorithms.swift
  stdlib/public/core/Set.swift
  stdlib/public/core/SetAlgebra.swift
  stdlib/public/core/SliceBuffer.swift
Owners: @DougGregor

[stdlib] append_contentsOf's param is eagerMove.
  stdlib/public/core/Array.swift
  stdlib/public/core/ArraySlice.swift
  stdlib/public/core/ContiguousArray.swift
Owners: @DougGregor

[stdlib] _copySequenceContent is eagerMove.
  stdlib/public/core/Sequence.swift
Owners: @DougGregor

Don't hop to @MainActor if already running on the main thread.
  stdlib/public/Concurrency/Task.cpp
  test/Concurrency/Runtime/isolated_deinit_main_sync.swift
Owners: @DougGregor

Import dealloc method as deinit
  include/swift/AST/PrintOptions.h
  lib/ClangImporter/ImportDecl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/deinit_isolation.swift
  test/Concurrency/deinit_isolation_import/Inputs/Alpha.framework/Modules/module.modulemap
  test/Concurrency/deinit_isolation_import/Inputs/Alpha.swift
  test/Concurrency/deinit_isolation_import/Inputs/Beta.framework/Modules/module.modulemap
  test/Concurrency/deinit_isolation_import/Inputs/Beta.h
  test/Concurrency/deinit_isolation_import/test.swift
  test/Concurrency/deinit_isolation_objc.swift
  tools/swift-ide-test/swift-ide-test.cpp
Owners: @rudkx, @DougGregor

Added more tests. Implemented logic for inferring actor isolation for deinit from base class and skipping isolation when deinit is implicit.
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/deinit_isolation.swift
Owners: @rudkx, @DougGregor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx
