Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx

Fixed emitting hopping to executor in async deinit and added emitting precondition check in the isolated deinit
  lib/SILGen/SILGenDestructor.cpp
  test/Concurrency/Runtime/actor_recursive_deinit.swift
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
Owners: @rudkx, @DougGregor

Applied review comments about naming in task-locals
  include/swift/ABI/Task.h
  include/swift/ABI/TaskLocal.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/TaskLocal.cpp
  stdlib/public/Concurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskPrivate.h
Owners: @rudkx, @DougGregor

Printing deinit effects in SIL
  lib/AST/ASTPrinter.cpp
  test/Concurrency/async_deinit.swift
Owners: @rudkx, @DougGregor

Manually added resetTaskLocals.
  include/swift/AST/Attr.def
Owners: @rudkx

Fixed detecting implicit async access in async deinit
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/async_deinit.swift
Owners: @rudkx, @DougGregor

Hop to correct executor before calling sync super deinit in destroying destructor
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  test/Concurrency/async_deinit.swift
Owners: @rudkx, @DougGregor

Hop to correct executor before calling sync super deinit
  include/swift/AST/ActorIsolation.h
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
Owners: @rudkx

Don't use ObjC dispatch when calling super isolated or async deinit
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/deinit_isolation_import/Inputs/Alpha.swift
  test/Concurrency/deinit_isolation_import/test.swift
Owners: @rudkx, @DougGregor

Added check that subclasses cannot have sync deinit if superclass has async deinit.
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/Concurrency/async_deinit.swift
Owners: @rudkx, @DougGregor

Created new task entry point adapter for calling convention of the isolated deinit (self is not SWIFT_CONTEXT)
  include/swift/ABI/Task.h
  include/swift/RemoteInspection/ReflectionContext.h
  stdlib/public/Concurrency/Debug.h
  stdlib/public/Concurrency/Task.cpp
Owners: @rudkx, @DougGregor

Fixed a warning about non-Sendable closure being passed to withResetTaskLocalValues
  stdlib/public/Concurrency/TaskLocal.swift
Owners: @DougGregor

Propagate class isolation to async deinit
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/async_deinit.swift
  test/Concurrency/deinit_isolation_import/test.swift
Owners: @rudkx, @DougGregor

Added a warning about using async deinit without need
  include/swift/AST/ActorIsolation.h
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/Concurrency/async_deinit.swift
  test/Concurrency/async_deinit_diag.swift
  test/Parse/async.swift
Owners: @rudkx, @DougGregor

Added tests for async deinit in distributed actors
  lib/Sema/TypeCheckConcurrency.cpp
  test/Distributed/Runtime/distributed_actor_deinit.swift
Owners: @rudkx, @DougGregor

Introduce an attribute to control if task-locals are copied or disabled in isolated deinit
  include/swift/ABI/TaskLocal.h
  include/swift/AST/Decl.h
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/AST/Decl.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckAttr.cpp
  lib/Sema/TypeCheckDeclOverride.cpp
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/TaskLocal.cpp
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/IDE/complete_decl_attribute.swift
Owners: @rudkx, @DougGregor

Directly using TaskAllocator in TaskLocal
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/TaskAlloc.h
  stdlib/public/Concurrency/TaskLocal.cpp
  stdlib/public/Concurrency/TaskLocal.h
  stdlib/public/Concurrency/TaskPrivate.h
Owners: @DougGregor

Moved TaskLocal.h out of ABI folder because it is an implementation detail
  include/swift/ABI/Executor.h
  include/swift/ABI/Task.h
  include/swift/ABI/TaskOptions.h
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/TaskLocal.cpp
  stdlib/public/Concurrency/TaskLocal.h
  stdlib/public/Concurrency/TaskPrivate.h
Owners: @rudkx, @DougGregor

Allocating task locals in isolated deinit job using TaskAllocator
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/TaskLocal.cpp
  stdlib/public/Concurrency/TaskLocal.h
  stdlib/public/runtime/StackAllocator.h
Owners: @DougGregor

Keep current task executor when taking fast path in isolated deinit
  stdlib/public/Concurrency/Actor.cpp
Owners: @DougGregor

Fixed an attempt to free storage owned by the IsolatedDeinitJob
  include/swift/ABI/TaskLocal.h
  stdlib/public/Concurrency/TaskLocal.cpp
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
Owners: @rudkx, @DougGregor

Using llvm::DenseMap to optimize copying task-local values
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Concurrency/TaskLocal.cpp
Owners: @DougGregor

[Driver] Use llvm-ar by default on Unix and copy it over into the build directory
  lib/Driver/UnixToolChains.cpp
  utils/CMakeLists.txt
Owners: @rudkx

Don't read current task executor to avoid extra access of the task-local storage.
  stdlib/public/Concurrency/Actor.cpp
Owners: @DougGregor

Fixed quadratic performance of ListMerger when each executed job creates 2+ new jobs of the same priority
  include/swift/Basic/ListMerger.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/CooperativeGlobalExecutor.inc
  utils/test-list-merger/Makefile
  utils/test-list-merger/TestListMerger.cpp
Owners: @rudkx, @DougGregor

Added benchmark for adding jobs to default actor when visiting a tree
  benchmark/CMakeLists.txt
  benchmark/single-source/AsyncTree.swift
  benchmark/utils/main.swift
Owners: @eeckstein, @DougGregor

Add experimental _Volatile module providing low-level primitives for MMIO
  stdlib/public/CMakeLists.txt
  stdlib/public/Volatile/CMakeLists.txt
  stdlib/public/Volatile/Volatile.swift
  test/Volatile/volatile-ir.swift
  test/Volatile/volatile-repeat-loads.swift
Owners: @DougGregor

[CSOptimizer] NFC: Switch to llvm::Optional
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

[CSOptimizer] Make sure that all parameters without arguments are defaulted
  lib/Sema/CSOptimizer.cpp
  test/Constraints/ranking.swift
Owners: @rudkx

[CSOptimizer] Favor SIMD related arithmetic operator choices if argument is SIMD<N> type
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

[CSOptimizer] Treat all type parameters equally
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

[ConstraintSystem] Add skeleton of constraint optimizer
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CMakeLists.txt
  lib/Sema/CSOptimizer.cpp
  lib/Sema/CSSolver.cpp
Owners: @rudkx

[CSOptimizer] Increase score when type matches opaque type
  lib/Sema/CSOptimizer.cpp
  test/Constraints/operator.swift
Owners: @rudkx

[CSGen] Remove ConstraintOptimizer and all favoring logic
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSGen.cpp
  lib/Sema/CSSimplify.cpp
Owners: @rudkx

[CSOptimizer] Initial implementation of disjunction choice favoring algorithm
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSOptimizer.cpp
  lib/Sema/CSSolver.cpp
  test/Constraints/common_type.swift
  test/Constraints/diag_ambiguities.swift
  validation-test/Sema/type_checker_perf/fast/rdar22770433.swift
  validation-test/Sema/type_checker_perf/fast/rdar23682605.swift
  validation-test/Sema/type_checker_perf/fast/rdar31742586.swift
  validation-test/Sema/type_checker_perf/fast/rdar35213699.swift
  validation-test/Sema/type_checker_perf/fast/rdar46713933_literal_arg.swift
  validation-test/Sema/type_checker_perf/fast/rdar91310777.swift
Owners: @rudkx, @DougGregor

[CSOptimizer] Allow generic operator overloads without associated type parameters
  lib/Sema/CSOptimizer.cpp
  validation-test/Sema/type_checker_perf/fast/mixed_string_array_addition.swift
  validation-test/Sema/type_checker_perf/fast/rdar17170728.swift
Owners: @rudkx, @DougGregor

[CSOptimizer] Don't attempt to optimize calls with code completion token(s) in argument position
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

[CSStep] Remove disjunction pruning logic from DisjunctionStep
  lib/Sema/CSStep.h
Owners: @rudkx

[CSOptimizer] Keep track of mismatches while evaluating candidates
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

[CSStep] Don't favor choices until the disjunction is picked
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSOptimizer.cpp
  lib/Sema/CSStep.cpp
  lib/Sema/CSStep.h
Owners: @rudkx

[ConstraintSystem] Remove `shrink`
  include/swift/Sema/ConstraintSystem.h
  lib/Sema/CSSolver.cpp
  lib/Sema/TypeCheckConstraints.cpp
Owners: @rudkx
