Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

Addressed feedback. Started emitting strippable symbols instead of limiting emission.
  lib/IRGen/GenMeta.cpp
  lib/IRGen/GenReflection.cpp
  test/IRGen/opt_in_reflection_metadata.swift
  test/IRGen/strippable_reflection_metadata.swift
Owners: @rudkx

Sema: Fix enum case witness crash when 'var' requirement has no parsed setter
  lib/Sema/TypeCheckProtocol.cpp
  test/decl/protocol/protocol_enum_witness.swift
Owners: @rudkx, @DougGregor

Sema: Correctly handle static 'let's in VarDecl::isSettable
  lib/AST/Decl.cpp
  test/decl/protocol/protocol_enum_witness.swift
Owners: @rudkx, @DougGregor

NFC: Minor clean-up
  lib/Sema/TypeCheckProtocol.cpp
Owners: @rudkx

[PrintAsObjC] Import/fwd-declare types used in `@_cdecl` functions.
  lib/PrintAsObjC/DeclAndTypePrinter.cpp
  lib/PrintAsObjC/ModuleContentsWriter.cpp
  test/PrintAsObjC/cdecl-imports.swift
Owners: @rudkx

Warn about derived Hashable implementation if there's a custom Equatable
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/DerivedConformanceEquatableHashable.cpp
  test/Sema/Inputs/external_equatable_conformance.swift
  test/Sema/diag_custom_equatable_synthesized_hashable.swift
  test/Sema/enum_conformance_synthesis.swift
Owners: @rudkx, @DougGregor

SR-14635: __SwiftValue should be transparent to casting
  stdlib/public/runtime/DynamicCast.cpp
  stdlib/public/runtime/SwiftObject.mm
  test/Casting/Casts.swift
Owners: @DougGregor

Fix calling convention for unboxFromSwiftValueWithType
  stdlib/public/runtime/DynamicCast.cpp
Owners: @DougGregor

Use SwiftValue unpacking API correctly
  stdlib/public/runtime/DynamicCast.cpp
Owners: @DougGregor

C++ Interop: import namespaces redecls separately
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/ClangImporter/ImporterImpl.h
  lib/ClangImporter/SwiftLookupTable.h
  test/Interop/Cxx/namespace/Inputs/module.modulemap
  test/Interop/Cxx/namespace/Inputs/submodule-a.h
  test/Interop/Cxx/namespace/Inputs/submodule-b.h
  test/Interop/Cxx/namespace/classes-module-interface.swift
  test/Interop/Cxx/namespace/free-functions-module-interface.swift
  test/Interop/Cxx/namespace/free-functions-second-header-module-interface.swift
  test/Interop/Cxx/namespace/submodules-module-interface.swift
  test/Interop/Cxx/namespace/templates-module-interface.swift
  test/Interop/Cxx/namespace/templates-second-header-module-interface.swift
Owners: @rudkx, @DougGregor

add warning/note to DiagnosticsSema for SR-4559 (unapplied reference to method named self can be used without qualification)
  include/swift/AST/DiagnosticsSema.def
Owners: @rudkx

fix SR-4559 (unapplied reference to method named self can be used without qualification)
  lib/Sema/PreCheckExpr.cpp
Owners: @rudkx

test cases for SR-4559 (unapplied reference to method named self can be used without qualification)
  test/type/self.swift
Owners: @rudkx

Implement GraphemeWalker that does native grapheme breaking
  stdlib/public/SwiftShims/CMakeLists.txt
  stdlib/public/SwiftShims/UnicodeData.h
  stdlib/public/SwiftShims/module.modulemap
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GraphemeWalker.swift
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/StringGraphemeBreaking.swift
  stdlib/public/core/UnicodeGraphemeBreakProperty.swift
  stdlib/public/stubs/CMakeLists.txt
  stdlib/public/stubs/UnicodeGrapheme.cpp
  utils/gen-unicode-data/.gitignore
  utils/gen-unicode-data/Data/GraphemeBreakProperty.txt
  utils/gen-unicode-data/Data/emoji-data.txt
  utils/gen-unicode-data/Input/UnicodeGrapheme.cpp
  utils/gen-unicode-data/Package.swift
  utils/gen-unicode-data/README.md
  utils/gen-unicode-data/Sources/GenGraphemeBreakProperty/main.swift
  utils/gen-unicode-data/Sources/GenUtils/Files.swift
  utils/gen-unicode-data/Sources/GenUtils/Formatting.swift
Owners: @DougGregor, @tkremenek

Remove ICU's grapheme breaking support
  stdlib/public/SwiftShims/UnicodeShims.h
  stdlib/public/core/ThreadLocalStorage.swift
  stdlib/public/stubs/UnicodeNormalization.cpp
Owners: @DougGregor

Bridged strings use native grapheme breaking for forward strides
  stdlib/public/core/GraphemeWalker.swift
  stdlib/public/core/StringGraphemeBreaking.swift
  stdlib/public/stubs/UnicodeGrapheme.cpp
Owners: @DougGregor

Use UnicodeScalarView to implement GraphemeWalker
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/GraphemeIterator.swift
  stdlib/public/core/GraphemeWalker.swift
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/StringGraphemeBreaking.swift
  stdlib/public/core/UnicodeHelpers.swift
Owners: @DougGregor

Implement bidirectional native grapheme breaking for native and foreign strings
  stdlib/public/core/GraphemeWalker.swift
  stdlib/public/core/StringGraphemeBreaking.swift
  stdlib/public/core/UnicodeHelpers.swift
Owners: @DougGregor

[cxx-interop] Allow function templates with defaulted template type parameters to be called.
  lib/AST/ClangTypeConverter.cpp
  lib/ClangImporter/ImportDecl.cpp
  lib/Sema/CSApply.cpp
  test/Interop/Cxx/templates/Inputs/defaulted-template-type-parameter.h
  test/Interop/Cxx/templates/Inputs/module.modulemap
  test/Interop/Cxx/templates/defaulted-template-type-parameter-module-interface.swift
  test/Interop/Cxx/templates/defaulted-template-type-parameter.swift
Owners: @rudkx, @DougGregor

Implement MultiPayloadEnum support for projectEnumValue
  stdlib/public/Reflection/TypeLowering.cpp
  validation-test/Reflection/reflect_Enum_MultiPayload_value.swift
Owners: @DougGregor, @rudkx

Back out the experimental spare bits calculation and everything that depended on it
  stdlib/public/Reflection/TypeLowering.cpp
  validation-test/Reflection/reflect_Enum_MultiPayload_value.swift
Owners: @DougGregor, @rudkx

Reorganize
  stdlib/public/Reflection/TypeLowering.cpp
Owners: @DougGregor

Revert "Back out the experimental spare bits calculation and everything that depended on it"
  stdlib/public/Reflection/TypeLowering.cpp
  validation-test/Reflection/reflect_Enum_MultiPayload_value.swift
  validation-test/Reflection/reflect_Enum_TwoCaseTwoPayloads.swift
  validation-test/Reflection/reflect_Enum_values.swift
Owners: @DougGregor, @rudkx

Experiment: Add spare bits placeholder
  include/swift/ABI/Metadata.h
  include/swift/ABI/MetadataValues.h
  lib/IRGen/GenMeta.cpp
Owners: @rudkx

Initialize FieldInfo
  stdlib/public/SwiftRemoteMirror/SwiftRemoteMirror.cpp
Owners: @DougGregor

Don't use size_t for trailing objects
  include/swift/ABI/Metadata.h
Owners: @rudkx

Start tightening up the framing logic
  include/swift/ABI/Metadata.h
  lib/IRGen/GenMeta.cpp
Owners: @rudkx

More robust reading of descriptors with trailing objects
  include/swift/ABI/TrailingObjects.h
  include/swift/Remote/MetadataReader.h
Owners: @rudkx

Fix a couple of typos
  include/swift/ABI/Metadata.h
Owners: @rudkx

Another attempt to make totalSizeOfPartialObject work
  include/swift/ABI/TrailingObjects.h
  include/swift/Remote/MetadataReader.h
Owners: @rudkx

Compact the buffer if it ends up a lot too big at the end
  include/swift/Remote/MetadataReader.h
Owners: @rudkx

Account for trailing object alignment when computing size of a partial object
  include/swift/ABI/TrailingObjects.h
Owners: @rudkx

Make totalSizeOfPartialObject compile
  include/swift/ABI/Metadata.h
  include/swift/ABI/TrailingObjects.h
  include/swift/Remote/MetadataReader.h
Owners: @rudkx

Simplify the incremental reading of remote descriptors
  include/swift/Remote/MetadataReader.h
Owners: @rudkx

[Parse] give more useful errors for forget 'do' keyword.
  lib/Parse/ParseDecl.cpp
  test/Constraints/closures.swift
  test/Generics/associated_type_anchor_rdar47605019.swift
  test/Index/kinds.swift
  test/SILGen/convenience_init_peer_delegation.swift
  test/SourceKit/CodeFormat/indent-computed-property.swift
  test/SourceKit/DocumentStructure/structure.swift.empty.response
  test/SourceKit/DocumentStructure/structure.swift.foobar.response
  test/SourceKit/DocumentStructure/structure.swift.response
Owners: @rudkx, @DougGregor

[build] Make using a prebuilt toolchain explicit and pass an install prefix in to swift-driver
  utils/swift_build_support/swift_build_support/products/product.py
  utils/swift_build_support/swift_build_support/products/swiftdriver.py
  utils/swift_build_support/swift_build_support/products/swiftpm.py
Owners: @DougGregor

[build] Allow cross-compiling build-script products for non-Darwin hosts too
  utils/build-script
  utils/swift_build_support/swift_build_support/products/product.py
  utils/swift_build_support/swift_build_support/products/swiftdriver.py
  utils/swift_build_support/swift_build_support/products/swiftpm.py
  utils/swift_build_support/swift_build_support/targets.py
Owners: @rudkx, @DougGregor

[build] don't pass the cross-compilation config for Darwin
  utils/swift_build_support/swift_build_support/products/swiftdriver.py
Owners: @DougGregor

[Runtime] Add ObjC support to isKnownUniquelyReferenced.
  include/swift/Runtime/HeapObject.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/IRGen/GenHeap.cpp
  stdlib/public/runtime/SwiftObject.mm
  test/IRGen/builtins.swift
  utils/swift_build_support/swift_build_support/products/swiftsyntax.py
Owners: @rudkx, @DougGregor

[Reflection] Fix projectEnumValue to work for enums containing existentials
  stdlib/public/Reflection/TypeLowering.cpp
  unittests/Reflection/RemoteMirrorInterop/test.m
  unittests/Reflection/RemoteMirrorInterop/test.swift
Owners: @DougGregor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx
