Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

[CSOptimizer] Use `matchCallArguments` to establish argument-to-parameter relationships
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

[CSOptimizer] Relax candidate type requirements from equality to set of no-impact conversions
  lib/Sema/CSOptimizer.cpp
  test/Constraints/diag_ambiguities.swift
  test/expr/expressions.swift
Owners: @rudkx

[CSOptimizer] NFC: Adjust conformance check to use `ConstraintSystem::lookupConformance`
  lib/Sema/CSOptimizer.cpp
Owners: @rudkx

Mangling: handle inverse requirements
  docs/ABI/Mangling.rst
  include/swift/AST/ASTMangler.h
  include/swift/AST/Requirement.h
  include/swift/Demangling/DemangleNodes.def
  lib/AST/ASTMangler.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/Requirement.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
Owners: @DougGregor, @rudkx

[Driver][Frontend] Introduce `load-pass-plugin` option
  include/swift/AST/DiagnosticsIRGen.def
  include/swift/AST/IRGenOptions.h
  include/swift/Option/Options.td
  include/swift/Subsystems.h
  lib/Driver/ToolChains.cpp
  lib/DriverTool/swift_llvm_opt_main.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/IRGen.cpp
  test/Frontend/Inputs/TestPlugin.cpp
  test/Frontend/load-pass-plugin.swift
Owners: @rudkx, @DougGregor

Start preparing the standard library for strict concrrency checking
  stdlib/public/SwiftShims/swift/shims/GlobalObjects.h
  stdlib/public/SwiftShims/swift/shims/Visibility.h
  stdlib/public/core/BridgeObjectiveC.swift
  stdlib/public/core/Codable.swift
  stdlib/public/core/CommandLine.swift
  stdlib/public/core/ContiguousArrayBuffer.swift
  stdlib/public/core/DictionaryStorage.swift
  stdlib/public/core/LegacyABI.swift
  stdlib/public/core/OutputStream.swift
  stdlib/public/core/ReflectionMirror.swift
  stdlib/public/core/SetStorage.swift
  stdlib/public/core/Shims.swift
  stdlib/public/core/VarArgs.swift
  stdlib/public/stubs/GlobalObjects.cpp
Owners: @DougGregor

utils: enable SPM self-hosted test suite on Windows
  utils/build-windows-toolchain.bat
Owners: @rudkx

[Requirement Machine] Implement same-element requirements.
  lib/AST/ASTPrinter.cpp
  lib/AST/GenericEnvironment.cpp
  lib/AST/GenericSignature.cpp
  lib/AST/RequirementMachine/GenericSignatureQueries.cpp
  lib/AST/RequirementMachine/HomotopyReduction.cpp
  lib/AST/RequirementMachine/InterfaceType.cpp
  lib/AST/RequirementMachine/MinimalConformances.cpp
  lib/AST/RequirementMachine/PropertyUnification.cpp
  lib/AST/RequirementMachine/RequirementBuilder.cpp
  lib/AST/RequirementMachine/RequirementLowering.cpp
  lib/AST/RequirementMachine/RequirementMachine.cpp
  lib/AST/RequirementMachine/RequirementMachineRequests.cpp
  lib/AST/RequirementMachine/RewriteContext.h
  lib/AST/RequirementMachine/RewriteSystem.cpp
  lib/AST/RequirementMachine/Rule.cpp
  lib/AST/RequirementMachine/Rule.h
  lib/AST/RequirementMachine/RuleBuilder.cpp
  lib/AST/RequirementMachine/Symbol.cpp
  lib/AST/RequirementMachine/Symbol.h
  lib/AST/RequirementMachine/Term.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Generics/parameter-pack-requirements.swift
Owners: @rudkx, @DougGregor

[Requirement Machine] Use element symbols for concrete same-element requirements.
  lib/AST/RequirementMachine/GenericSignatureQueries.cpp
  lib/AST/RequirementMachine/RewriteSystem.cpp
  lib/AST/RequirementMachine/RuleBuilder.cpp
Owners: @DougGregor

[Constraint System] Fix the shape class and context substitiutions for opened element generic environments containing same-element requirements.
  test/Constraints/pack-expansion-expressions.swift
Owners: @rudkx

[Requirement Machine] Stricter verification conditions for element symbols.
  lib/AST/RequirementMachine/RewriteSystem.cpp
Owners: @DougGregor

[Requirement Machine] Fix the order of requirements that involve pack elements.
  lib/AST/GenericSignature.cpp
  lib/AST/RequirementMachine/Term.cpp
  test/Generics/parameter-pack-requirements.swift
Owners: @rudkx, @DougGregor

[Features] Gate same-element requirements behind an experimental feature flag.
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/RequirementMachine/RequirementLowering.cpp
  test/Constraints/pack-expansion-expressions.swift
  test/Generics/parameter-pack-requirements.swift
Owners: @rudkx, @DougGregor

[NFC] Add -dump-input=fail to a FileCheck test.
  test/Generics/parameter-pack-requirements.swift
Owners: @rudkx

[Requirement Machine] Initialize storage for `ThePackElementSymbol`
  lib/AST/RequirementMachine/RewriteContext.cpp
Owners: @DougGregor

[Requirement Machine] Add ability to prepend a symbol to a term, clean up existing code
  lib/AST/RequirementMachine/RuleBuilder.cpp
  lib/AST/RequirementMachine/Term.h
Owners: @DougGregor

[NFC] Move a diagnostic from `DiagnosticsCommon.def` to `DiagnosticsSema.def`
  include/swift/AST/DiagnosticsCommon.def
  include/swift/AST/DiagnosticsSema.def
Owners: @rudkx

Sema: Improve error messages for `super` in illegal context
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/CSGen.cpp
  lib/Sema/PreCheckExpr.cpp
  test/Constraints/super_constructor.swift
  test/Constraints/super_method.swift
  test/Parse/invalid.swift
  test/expr/primary/super/invalid_context.swift
Owners: @rudkx, @DougGregor

[NFC] Move a diagnostic from `DiagnosticsParse.def` to `DiagnosticsSema.def`
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
Owners: @rudkx

[NFC] Sema: Move diagnosis of super in illegal context from CSGen to PreCheckExpr
  lib/Sema/CSGen.cpp
  lib/Sema/PreCheckExpr.cpp
Owners: @rudkx

[NFC] test: Move `super` in closure tests out of `test/Parse`
  test/Parse/super.swift
  test/expr/primary/super/closures.swift
Owners: @rudkx, @DougGregor

Move unsupported `super` use diagnosis form Parse to Sema
  include/swift/AST/Decl.h
  include/swift/AST/DefaultArgumentKind.h
  include/swift/AST/DiagnosticsParse.def
  include/swift/AST/DiagnosticsSema.def
  include/swift/Parse/Parser.h
  lib/AST/ASTBridging.cpp
  lib/AST/Decl.cpp
  lib/Parse/ParseExpr.cpp
  lib/Parse/ParsePattern.cpp
  lib/Sema/PreCheckExpr.cpp
  test/Parse/recovery.swift
  test/Parse/super.swift
  test/expr/primary/super/unsupported.swift
Owners: @rudkx, @DougGregor

[NFC] ParamDecl: Make explicit write of type-checked default exclusive privilege of `DefaultArgumentExprRequest`
  include/swift/AST/Decl.h
  lib/AST/ASTWalker.cpp
  lib/AST/Decl.cpp
  lib/AST/TypeCheckRequests.cpp
  lib/ClangImporter/ImportType.cpp
Owners: @rudkx

[NFC] Parse: Remove needless `setDefaultArgumentKind` call
  lib/AST/Decl.cpp
Owners: @rudkx

ParamDecl: Defend against default argument kind overwrites
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/AST/Parameter.cpp
Owners: @rudkx

[ASTGen] Update for SPI in swift-syntax
  lib/ASTGen/Sources/ASTGen/Macros.swift
  lib/ASTGen/Sources/ASTGen/PluginHost.swift
  tools/swift-plugin-server/Sources/swift-plugin-server/swift-plugin-server.swift
Owners: @DougGregor

[Requirement Machine] When forming requirements from same-element rewrite rules, swap the sides depending on which one is longer once the `[element]` symbol is dropped.
  lib/AST/GenericSignature.cpp
  lib/AST/RequirementMachine/RequirementBuilder.cpp
  lib/AST/RequirementMachine/Term.h
  test/Generics/parameter-pack-requirements.swift
Owners: @rudkx, @DougGregor

Minor formatting fix in benchmark/single-source/AsyncTree.swift
  benchmark/single-source/AsyncTree.swift
Owners: @DougGregor

[DNM] Cross repo tests
  README.md
Owners: @tkremenek

[Requirement Machine] Fix the order of terms with pack element symbols to always appear on the left-hand side of the same-element rewrite rule.
  lib/AST/RequirementMachine/Term.cpp
Owners: @DougGregor

Add support for coroutines to AST builder & demangler
  include/swift/AST/ASTDemangler.h
  include/swift/Demangling/Demangle.h
  include/swift/Demangling/DemangleNodes.def
  include/swift/Demangling/TypeDecoder.h
  include/swift/RemoteInspection/TypeRefBuilder.h
  lib/AST/ASTDemangler.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  stdlib/public/runtime/MetadataLookup.cpp
Owners: @rudkx, @DougGregor

Partial apply for coroutines
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/GenReflection.cpp
  lib/IRGen/IRGenSIL.cpp
  test/IRGen/partial_apply_coro.sil
Owners: @rudkx

Change partial_apply_coro.sil to match the new LLVM patch
  test/IRGen/partial_apply_coro.sil
Owners: @rudkx

Address review comments
  docs/SIL.rst
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/SIL/Verifier/SILVerifier.cpp
Owners: @rudkx, @DougGregor

Workaround LLVM coroutine codegen problem: it assumes that unwind path never returns. This is not true to Swift coroutines as unwind path should end with error result.
  lib/IRGen/GenCall.cpp
  lib/IRGen/IRGenFunction.h
  lib/IRGen/IRGenSIL.cpp
  test/IRGen/yield_once.sil
  test/IRGen/yield_once_big.sil
  test/IRGen/yield_once_biggish.sil
  test/IRGen/yield_once_indirect.sil
  test/IRGen/yield_result.sil
Owners: @rudkx

Add -Onone to RUN lines
  test/IRGen/partial_apply_coro.sil
Owners: @rudkx

[NFC] Remove -I from RUN lines
  test/IRGen/partial_apply_coro.sil
Owners: @rudkx

Handle begin_apply in PartialApplyCombiner
  lib/SILOptimizer/Utils/PartialApplyCombiner.cpp
  test/SILOptimizer/sil_combine_apply_ossa.sil
Owners: @DougGregor, @rudkx

[AutoDiff] Fix custom derivative thunk for Optional
  lib/SILGen/SILGenPoly.cpp
  test/AutoDiff/SILGen/nil_coalescing.swift
Owners: @rudkx, @DougGregor

[MemoryVerifier] Trivial locs aren't destroyed.
  include/swift/SIL/MemoryLocations.h
  lib/SIL/Verifier/MemoryLifetimeVerifier.cpp
  test/SIL/memory_lifetime.sil
  test/SIL/memory_lifetime_failures.sil
Owners: @rudkx, @DougGregor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx
