Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

[Build] Add the new fully-static Linux SDK.
  CMakeLists.txt
  cmake/modules/SwiftConfigureSDK.cmake
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Resources/linux-static/static-executable-args.lnk
  stdlib/public/Resources/linux-static/static-stdlib-args.lnk
  test/CMakeLists.txt
  utils/build-script
  utils/build-script-impl
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/host_specific_configuration.py
  utils/swift_build_support/swift_build_support/products/cmake_product.py
  utils/swift_build_support/swift_build_support/products/llvm.py
  utils/swift_build_support/swift_build_support/targets.py
Owners: @DougGregor, @rudkx

Driver: introduce `-sysroot` option for non-Darwin targets
  include/swift/AST/SearchPathOptions.h
  include/swift/Option/Options.td
  lib/ClangImporter/ClangIncludePaths.cpp
  lib/Driver/ToolChains.cpp
  lib/Frontend/CompilerInvocation.cpp
Owners: @rudkx

Respect discardableResult when calling with try?
  lib/Sema/TypeCheckStmt.cpp
Owners: @rudkx

Fix test to suppress the warning
  test/Parse/omit_return.swift
  test/Parse/omit_return_ifdecl.swift
Owners: @rudkx

Update comments
  lib/Sema/TypeCheckStmt.cpp
Owners: @rudkx

[PrintAsClang] Fix thunks for Never funcs
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  test/Interop/CxxToSwiftToCxx/bridge-cxx-struct-back-to-cxx.swift
  test/Interop/ObjCToSwiftToObjCxx/bridge-objc-types-back-to-objcxx.swift
  test/Interop/SwiftToCxx/class/swift-class-in-cxx.swift
  test/Interop/SwiftToCxx/class/swift-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/class/swift-subclass-of-resilient-class-virtual-method-dispatch.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-enum-refs-in-cxx.swift
  test/Interop/SwiftToCxx/cross-module-refs/imported-struct-refs-in-cxx.swift
  test/Interop/SwiftToCxx/enums/enum-member-param-no-shadow-case.swift
  test/Interop/SwiftToCxx/enums/large-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/small-enums-pass-return-in-cxx.swift
  test/Interop/SwiftToCxx/enums/swift-enum-implementation.swift
  test/Interop/SwiftToCxx/expose-attr/expose-swift-decls-to-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-function-argument-keyword-in-cxx.swift
  test/Interop/SwiftToCxx/functions/swift-functions-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions.swift
  test/Interop/SwiftToCxx/functions/swift-primitive-inout-functions-cxx-bridging.swift
  test/Interop/SwiftToCxx/generics/generic-enum-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-function-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-in-cxx.swift
  test/Interop/SwiftToCxx/generics/generic-struct-known-layout-direct-in-cxx.swift
  test/Interop/SwiftToCxx/methods/method-in-cxx.swift
  test/Interop/SwiftToCxx/methods/mutating-method-in-cxx.swift
  test/Interop/SwiftToCxx/ownership/consuming-parameter-in-cxx.swift
  test/Interop/SwiftToCxx/properties/bool-is-has-in-cxx.swift
  test/Interop/SwiftToCxx/properties/setter-in-cxx.swift
  test/Interop/SwiftToCxx/stdlib/optional/optional-in-cxx.swift
  test/Interop/SwiftToCxx/structs/large-structs-pass-return-indirect-in-cxx.swift
  test/Interop/SwiftToCxx/structs/resilient-struct-in-cxx.swift
  test/Interop/SwiftToCxx/structs/small-structs-pass-return-direct-in-cxx.swift
Owners: @DougGregor

[PrintAsClang] Fix thunks for throwing Never funcs
  lib/PrintAsClang/DeclAndTypePrinter.cpp
  lib/PrintAsClang/PrintClangFunction.cpp
  lib/PrintAsClang/_SwiftStdlibCxxOverlay.h
  test/Interop/SwiftToCxx/functions/swift-expected-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors-execution.cpp
  test/Interop/SwiftToCxx/functions/swift-functions-errors.swift
  test/Interop/SwiftToCxx/functions/swift-functions.swift
Owners: @DougGregor

[Target Info] Compute resource-directory relative to the SDK on non-Darwin targets
  include/swift/Frontend/Frontend.h
  lib/Frontend/CompilerInvocation.cpp
Owners: @rudkx

[Explicit Module Builds] Propagate the C++ Interop mode to interface sub-invocations and dependency scanner
  include/swift/Serialization/SerializedModuleLoader.h
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/ModuleInterfaceLoader.cpp
  lib/Serialization/SerializedModuleLoader.cpp
Owners: @rudkx

[Dependency Scanning] Add required additional C++ interop overlay module queries
  include/swift/AST/ModuleDependencies.h
  include/swift/ClangImporter/ClangImporter.h
  include/swift/DependencyScan/SerializedModuleDependencyCacheFormat.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangModuleDependencyScanner.cpp
  lib/DependencyScan/ModuleDependencyCacheSerialization.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
Owners: @rudkx, @DougGregor

Implement Mutex in Synchronization
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/SwiftShims/swift/shims/CMakeLists.txt
  stdlib/public/SwiftShims/swift/shims/SynchronizationShims.h
  stdlib/public/SwiftShims/swift/shims/module.modulemap
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Synchronization/Cell.swift
  stdlib/public/Synchronization/Mutex/DarwinImpl.swift
  stdlib/public/Synchronization/Mutex/LinuxImpl.swift
  stdlib/public/Synchronization/Mutex/Mutex.swift
  stdlib/public/Synchronization/Mutex/WindowsImpl.swift
Owners: @DougGregor

Attempt to release the lock and wake when we can't
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Synchronization/Mutex/LinuxImpl.swift
Owners: @DougGregor

Add a WasmMutex
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Synchronization/Mutex/LinuxImpl.swift
  stdlib/public/Synchronization/Mutex/WasmImpl.swift
Owners: @DougGregor

Add the underscored unsafe locking primitives
  stdlib/public/Synchronization/Mutex/Mutex.swift
Owners: @DougGregor

Directly call gettid syscall instead of library function
  stdlib/public/SwiftShims/swift/shims/SynchronizationShims.h
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Synchronization/Mutex/LinuxImpl.swift
Owners: @DougGregor

Cache TID in TLS on Linux
  stdlib/public/SwiftShims/swift/shims/SynchronizationShims.h
  stdlib/public/Synchronization/Cell.swift
  stdlib/public/Synchronization/Mutex/LinuxImpl.swift
  stdlib/public/Synchronization/Mutex/Mutex.swift
  stdlib/public/Synchronization/Mutex/WasmImpl.swift
Owners: @DougGregor

Actually implement the API now
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Synchronization/Cell.swift
  stdlib/public/Synchronization/Mutex/DarwinImpl.swift
  stdlib/public/Synchronization/Mutex/Mutex.swift
  stdlib/public/Synchronization/Mutex/WindowsImpl.swift
Owners: @DougGregor

Move atomic sources into a folder
  stdlib/public/Synchronization/Atomics/Atomic.swift
  stdlib/public/Synchronization/Atomics/AtomicBool.swift
  stdlib/public/Synchronization/Atomics/AtomicFloats.swift
  stdlib/public/Synchronization/Atomics/AtomicIntegers.swift.gyb
  stdlib/public/Synchronization/Atomics/AtomicLazyReference.swift
  stdlib/public/Synchronization/Atomics/AtomicMemoryOrderings.swift
  stdlib/public/Synchronization/Atomics/AtomicOptional.swift
  stdlib/public/Synchronization/Atomics/AtomicPointers.swift
  stdlib/public/Synchronization/Atomics/AtomicRepresentable.swift
  stdlib/public/Synchronization/Atomics/AtomicStorage.swift.gyb
  stdlib/public/Synchronization/Atomics/WordPair.swift
  stdlib/public/Synchronization/CMakeLists.txt
Owners: @DougGregor

Adopt transferring for Mutex init
  stdlib/public/Synchronization/CMakeLists.txt
  stdlib/public/Synchronization/Mutex/Mutex.swift
Owners: @DougGregor

Move atomics tests under a synchronization folder
  test/stdlib/Synchronization/Atomics/AtomicLazyReference.swift
  test/stdlib/Synchronization/Atomics/Basics/AtomicBool.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicInt.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicInt16.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicInt32.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicInt64.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicInt8.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicMutablePointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicMutableRawPointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicOptionalMutablePointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicOptionalMutableRawPointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicOptionalPointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicOptionalRawPointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicOptionalRawRepresentable.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicOptionalUnmanaged.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicPointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicRawPointer.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicRawRepresentable.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicUInt.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicUInt16.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicUInt32.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicUInt64.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicUInt8.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicUnmanaged.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/AtomicWordPair.swift.gyb
  test/stdlib/Synchronization/Atomics/Basics/Tests.gyb-template
  test/stdlib/Synchronization/Atomics/LockFreeSingleConsumerStack.swift
  test/stdlib/Synchronization/Atomics/WordPair.swift
Owners: @DougGregor

Add a basic mutex test
  test/stdlib/Synchronization/Mutex/LockSingleConsumerStack.swift
Owners: @DougGregor

It is WASI, not WASM
  stdlib/public/Synchronization/CMakeLists.txt
Owners: @DougGregor

Always add an implicit import of 'Cxx' module when C++ Interop is enabled.
  include/swift/Frontend/Frontend.h
  include/swift/Strings.h
  lib/Frontend/Frontend.cpp
Owners: @rudkx

[Caching] Preliminary simple macro support for caching
  lib/AST/ModuleDependencies.cpp
  lib/AST/PluginLoader.cpp
  lib/Sema/TypeCheckMacros.cpp
  test/CAS/macro_option_set.swift
  test/CAS/macro_plugin.swift
  test/CAS/macro_plugin_external.swift
Owners: @rudkx, @DougGregor

Adds SwiftCompilerSources changes in preparation for the Autodiff closure-spec optimization pass
  SwiftCompilerSources/Sources/Optimizer/PassManager/Context.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/Utilities/ManglingUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/OptUtils.swift
  SwiftCompilerSources/Sources/SIL/ApplySite.swift
  SwiftCompilerSources/Sources/SIL/Function.swift
  SwiftCompilerSources/Sources/SIL/FunctionConvention.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/SubstitutionMap.swift
  SwiftCompilerSources/Sources/SIL/Type.swift
  SwiftCompilerSources/Sources/SIL/Value.swift
Owners: @DougGregor

[Autodiff] Adds part of the closure-specialization optimization pass
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/AutodiffClosureSpecialization.swift
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/PassManager/PassRegistration.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/Test.swift
  include/swift/SILOptimizer/PassManager/Passes.def
  test/AutoDiff/SILOptimizer/closure_specialization.sil
Owners: @DougGregor

Rev-1: Incorporates feedback on original PR
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/AutodiffClosureSpecialization.swift
  SwiftCompilerSources/Sources/Optimizer/PassManager/Context.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/ManglingUtils.swift
  SwiftCompilerSources/Sources/SIL/Function.swift
  include/swift/SIL/SILBridging.h
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/OptimizerBridgingImpl.h
  lib/SILOptimizer/PassManager/PassManager.cpp
Owners: @DougGregor, @rudkx

Adds bridging code in preparation for the Swift based Autodiff closure-spec pass
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  include/swift/SIL/SILType.h
  include/swift/SILOptimizer/IPO/ClosureSpecializer.h
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/OptimizerBridgingImpl.h
  include/swift/SILOptimizer/Utils/CFGOptUtils.h
  lib/SILOptimizer/IPO/ClosureSpecializer.cpp
  lib/SILOptimizer/PassManager/PassManager.cpp
  lib/SILOptimizer/Utils/CFGOptUtils.cpp
Owners: @rudkx, @DougGregor

Rev-4: Addresses feedback from revision 3
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/AutodiffClosureSpecialization.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  lib/SILOptimizer/PassManager/PassManager.cpp
Owners: @DougGregor

Rev-3: Adds more code simplifications
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/AutodiffClosureSpecialization.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/Utilities/ManglingUtils.swift
  SwiftCompilerSources/Sources/Optimizer/Utilities/OptUtils.swift
  SwiftCompilerSources/Sources/SIL/ApplySite.swift
  SwiftCompilerSources/Sources/SIL/BasicBlock.swift
  SwiftCompilerSources/Sources/SIL/Function.swift
  SwiftCompilerSources/Sources/SIL/FunctionConvention.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/Type.swift
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  include/swift/SILOptimizer/OptimizerBridging.h
  include/swift/SILOptimizer/Utils/CFGOptUtils.h
  lib/SILOptimizer/PassManager/PassManager.cpp
  lib/SILOptimizer/Utils/CFGOptUtils.cpp
Owners: @DougGregor, @rudkx

Rev-2: Further breaks down `gatherCallSites`
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/AutodiffClosureSpecialization.swift
Owners: @DougGregor

Rev-5: Addresses feedback from revision 4
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/AutodiffClosureSpecialization.swift
  SwiftCompilerSources/Sources/SIL/Type.swift
  SwiftCompilerSources/Sources/SIL/Value.swift
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  include/swift/SIL/SILType.h
  include/swift/SILOptimizer/OptimizerBridging.h
Owners: @DougGregor, @rudkx

Modify diagnostics to suggest updating existing available attribute
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAvailability.cpp
  test/Concurrency/sendable_checking.swift
  test/Sema/api-availability-only.swift
  test/Sema/availability_define.swift
  test/Sema/availability_swiftui.swift
  test/Sema/availability_versions.swift
  test/Sema/availability_versions_multi.swift
  test/attr/ApplicationMain/attr_main_struct_available_future.swift
  test/attr/attr_availability_osx.swift
  test/attr/attr_inlinable_available.swift
  test/attr/typed_throws_availability_osx.swift
Owners: @rudkx, @DougGregor

DeadCodeElimination: fix debug logging of to-instruction when adding a reverse dependency
  lib/SILOptimizer/Transforms/DeadCodeElimination.cpp
Owners: @DougGregor

SIL: add the borrowed-from instruction.
  SwiftCompilerSources/Sources/SIL/Argument.swift
  SwiftCompilerSources/Sources/SIL/Builder.swift
  SwiftCompilerSources/Sources/SIL/ForwardingInstruction.swift
  SwiftCompilerSources/Sources/SIL/Instruction.swift
  SwiftCompilerSources/Sources/SIL/Registration.swift
  docs/SIL.rst
  include/swift/SIL/InstWrappers.h
  include/swift/SIL/OwnershipUtils.h
  include/swift/SIL/SILBridging.h
  include/swift/SIL/SILBridgingImpl.h
  include/swift/SIL/SILBuilder.h
  include/swift/SIL/SILCloner.h
  include/swift/SIL/SILInstruction.h
  include/swift/SIL/SILNodes.def
  lib/IRGen/IRGenSIL.cpp
  lib/SIL/IR/OperandOwnership.cpp
  lib/SIL/IR/SILInstructions.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/IR/ValueOwnership.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/SIL/Utils/InstructionUtils.cpp
  lib/SIL/Utils/OwnershipUtils.cpp
  lib/SIL/Verifier/SILOwnershipVerifier.cpp
  lib/SILOptimizer/Analysis/RegionAnalysis.cpp
  lib/SILOptimizer/Mandatory/OwnershipModelEliminator.cpp
  lib/SILOptimizer/SemanticARC/SemanticARCOptVisitor.h
  lib/SILOptimizer/UtilityPasses/SerializeSILPass.cpp
  lib/SILOptimizer/Utils/SILInliner.cpp
  lib/Serialization/DeserializeSIL.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/SerializeSIL.cpp
  test/SIL/Parser/borrow.sil
  test/Serialization/ossa_sil.sil
Owners: @DougGregor, @rudkx

SIL: fix BorrowedValue initializer for non-guaranteed function args
  SwiftCompilerSources/Sources/Optimizer/Utilities/BorrowUtils.swift
Owners: @DougGregor

SwiftCompilerSources: add a few utility APIs
  SwiftCompilerSources/Sources/Optimizer/DataStructures/Set.swift
  SwiftCompilerSources/Sources/SIL/Operand.swift
  SwiftCompilerSources/Sources/SIL/Utilities/SequenceUtilities.swift
Owners: @DougGregor

[Distributed] Improve checking of DA protocol in concrete DA with system
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/TypeCheckRequests.h
  include/swift/AST/TypeCheckerTypeIDZone.def
  lib/Sema/TypeCheckDistributed.cpp
  lib/Sema/TypeCheckDistributed.h
  test/Distributed/distributed_actor_provides_serialization_requirement_to_unconstrained_protocol.swift
Owners: @rudkx, @DougGregor

[region-isolation] Enable region isolation by default with strict-concurrency.
  include/swift/Option/FrontendOptions.td
  lib/Frontend/CompilerInvocation.cpp
Owners: @rudkx

Enable strict concurrency by default.
  lib/Frontend/CompilerInvocation.cpp
Owners: @rudkx

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx
