Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx

ignore preconcurrency context
  lib/Sema/TypeCheckConcurrency.cpp
Owners: @rudkx

Dump the env:Path on a build error for error diagnosis
  utils/build.ps1
Owners: @rudkx

[CodeCompletion] Don’t report a call pattern as convertible if its result type doesn’t match
  include/swift/Sema/CSFix.h
  lib/IDE/ArgumentCompletion.cpp
  lib/Sema/CSFix.cpp
  lib/Sema/CSSimplify.cpp
  test/IDE/expected_type_of_call_pattern.swift
Owners: @rudkx

[CodeCompletion] Fix a crash when completing the call pattern of a function that takes a parameter pack
  lib/IDE/ArgumentCompletion.cpp
  lib/Sema/CSApply.cpp
  test/IDE/complete_parameter_pack_as_call_argument.swift
Owners: @rudkx

Use the `BorrowingSwitch` implementation for all noncopyable switches.
  lib/SILGen/SILGenPattern.cpp
  lib/SILOptimizer/Mandatory/MoveOnlyBorrowToDestructureUtils.cpp
  test/SILGen/moveonly.swift
  test/SILGen/noimplicitcopy_borrowing_parameters.swift
  test/SILOptimizer/moveonly_addresschecker_diagnostics.swift
  test/SILOptimizer/moveonly_borrow_to_destructure_transform.sil
  test/SILOptimizer/moveonly_discard.swift
  test/SILOptimizer/moveonly_objectchecker_diagnostics.swift
  test/SILOptimizer/moveonly_partial_consumption.swift
  test/SILOptimizer/moveonly_trivial_addresschecker_diagnostics.swift
  test/SILOptimizer/moveonly_trivial_objectchecker_diagnostics.swift
  test/SILOptimizer/noimplicitcopy.swift
  test/SILOptimizer/noimplicitcopy_borrowing_parameters.swift
Owners: @rudkx, @DougGregor

[Concurrency] Correct withContinuation APIs isolation handling
  stdlib/public/Concurrency/CheckedContinuation.swift
  stdlib/public/Concurrency/PartialAsyncTask.swift
  stdlib/public/Concurrency/Task.cpp
  stdlib/toolchain/Compatibility56/Concurrency/Actor.cpp
  test/Concurrency/Runtime/continuation_validation.swift
Owners: @DougGregor

[CodeCompletion] Don’t report a call pattern as convertible if its result type doesn’t match
  include/swift/Sema/CSFix.h
  lib/IDE/ArgumentCompletion.cpp
  lib/Sema/CSFix.cpp
  lib/Sema/CSSimplify.cpp
  test/IDE/expected_type_of_call_pattern.swift
Owners: @rudkx

ClangImporter: handle `-target-cpu` for x86 targets
  lib/ClangImporter/ClangImporter.cpp
Owners: @rudkx

[android] add a module map for Android NDK
  stdlib/public/Platform/SwiftAndroidNDK.h
  stdlib/public/Platform/SwiftBionic.h
  stdlib/public/Platform/android.modulemap
Owners: @DougGregor

[android] add an android NDK Swift overlay module, and use it instead of Glibc
  lib/ClangImporter/ClangIncludePaths.cpp
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Concurrency/CMakeLists.txt
  stdlib/public/Platform/Android.swift
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/Platform/Platform.swift
Owners: @rudkx, @DougGregor

[cxx-interop] serialize x-refs for class template specializations
  lib/ClangImporter/ClangImporter.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/Serialization.cpp
Owners: @rudkx

[BitwiseCopyable] Allow suppression via ~.
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsSema.def
  include/swift/AST/TypeCheckRequests.h
  lib/AST/Decl.cpp
  lib/AST/TypeCheckRequests.cpp
  lib/Sema/TypeCheckBitwise.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  lib/Sema/TypeCheckRequestFunctions.cpp
  stdlib/public/core/CommandLine.swift
  stdlib/public/core/MemoryLayout.swift
  stdlib/public/core/Unicode.swift
  test/Sema/bitwise_copyable_2.swift
Owners: @rudkx, @DougGregor

wasm: Add "threads" as valid `targetEnvironment` argument
  lib/Basic/LangOptions.cpp
  test/Parse/ConditionalCompilation/wasm32Target.swift
  test/Parse/ConditionalCompilation/wasm32ThreadsTarget.swift
Owners: @rudkx, @DougGregor

build: Add `-threads` variant of Wasm stdlib build
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/__init__.py
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
  utils/swift_build_support/swift_build_support/products/wasmstdlib.py
Owners: @DougGregor

build: Rename wasi-threads to wasip1-threads
  cmake/modules/SwiftConfigureSDK.cmake
  utils/swift_build_support/swift_build_support/products/wasisysroot.py
Owners: @DougGregor

TypeCheckType: Look through `any` and `some` in `any` syntax checker
  lib/Sema/TypeCheckType.cpp
  test/type/explicit_existential.swift
  test/type/explicit_existential_swift6.swift
Owners: @rudkx

Implement Int128 and UInt128 per SE-0425
  stdlib/public/Synchronization/AtomicIntegers.swift.gyb
  stdlib/public/core/CMakeLists.txt
  stdlib/public/core/Codable.swift
  stdlib/public/core/Duration.swift
  stdlib/public/core/GroupInfo.json
  stdlib/public/core/Int128.swift
  stdlib/public/core/Int128.swift.gyb
  stdlib/public/core/Integers.swift
  stdlib/public/core/UInt128.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/arm64/synchronization.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/abi/macOS/x86_64/synchronization.swift
  test/api-digester/Outputs/stability-stdlib-source-x86_64.swift.expected
  test/api-digester/stability-stdlib-abi-without-asserts.test
  test/stdlib/Int128.swift
  utils/SwiftAtomics.py
Owners: @DougGregor, @rudkx

[Caching] Do not serialize module deps when caching
  lib/FrontendTool/FrontendTool.cpp
Owners: @rudkx

[ScanDependency] Set context hash for source module
  lib/DependencyScan/ScanDependencies.cpp
  test/CAS/module_deps.swift
  test/CAS/module_deps_include_tree.swift
  test/CAS/plugin_cas.swift
  test/ModuleInterface/clang-session-transitive.swift
  test/ModuleInterface/extension-transitive-availability.swift
  test/ScanDependencies/module_deps.swift
  test/ScanDependencies/module_deps_cache_reuse.swift
Owners: @DougGregor

[Windows] windows version options are not path
  include/swift/Option/Options.td
Owners: @rudkx

[ScanDependencies] Do not inherit driver options in direct-cc1 mode
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/ScanDependencies/direct_cc1_scan.swift
Owners: @rudkx, @DougGregor

[Caching] Give swiftmodule loaded from CAS a path identifier
  lib/Frontend/ModuleInterfaceLoader.cpp
  test/CAS/module_trace.swift
Owners: @rudkx, @DougGregor

TypeCheckType: Fix missing `any` fix-it for compositions
  lib/Sema/TypeCheckType.cpp
  test/type/explicit_existential.swift
  test/type/explicit_existential_swift6.swift
Owners: @rudkx

TypeCheckType: Fix missing `any` fix-it for IUO
  lib/Sema/TypeCheckType.cpp
  test/type/explicit_existential.swift
  test/type/explicit_existential_swift6.swift
Owners: @rudkx

TypeCheckType: Look through `any` and `some` in `any` syntax checker
  lib/Sema/TypeCheckType.cpp
  test/type/explicit_existential.swift
  test/type/explicit_existential_swift6.swift
Owners: @rudkx

TypeCheckType: Fix missing `any` fix-it for IUO
  lib/Sema/TypeCheckType.cpp
  test/type/explicit_existential.swift
  test/type/explicit_existential_swift6.swift
Owners: @rudkx

TypeCheckType: Fix missing `any` fix-it for compositions
  lib/Sema/TypeCheckType.cpp
  test/type/explicit_existential.swift
  test/type/explicit_existential_swift6.swift
Owners: @rudkx

[AST] Fix best import kind when value decl is a typealias of an existential type
  lib/AST/Decl.cpp
Owners: @rudkx

[AST] Add test for incorrect existential import
  test/ImportResolution/Inputs/DeclsUsedWrongly.swift
  test/ImportResolution/import-specific-fixits.swift
Owners: @DougGregor

Inherit doc comments from default implementations of inherited protocols
  lib/AST/DocComment.cpp
  test/SourceKit/CursorInfo/cursor_inherit_doc_comment.swift
  test/SymbolGraph/Relationships/Synthesized/RemoteInheritedDocs.swift
Owners: @rudkx, @DougGregor

[stdlib] Optional: Allow non-escapable wrapped types
  stdlib/public/core/Optional.swift
Owners: @DougGregor

[build] Enable NonescapableTypes by default
  utils/build_swift/build_swift/driver_arguments.py
Owners: @DougGregor

Modify diagnostics to suggest updating existing available attribute
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckAvailability.cpp
  test/Sema/api-availability-only.swift
  test/Sema/availability_swiftui.swift
  test/Sema/availability_versions.swift
  test/Sema/availability_versions_multi.swift
  test/attr/ApplicationMain/attr_main_struct_available_future.swift
  test/attr/attr_availability_osx.swift
  test/attr/attr_availability_update.swift
  test/attr/attr_inlinable_available.swift
  test/attr/typed_throws_availability_osx.swift
Owners: @rudkx, @DougGregor

[Driver][Frontend] Introduce `load-pass-plugin` option
  include/swift/AST/DiagnosticsIRGen.def
  include/swift/AST/IRGenOptions.h
  include/swift/Option/Options.td
  include/swift/Subsystems.h
  lib/Driver/ToolChains.cpp
  lib/DriverTool/swift_llvm_opt_main.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/IRGen/IRGen.cpp
  test/Frontend/Inputs/TestPlugin.cpp
  test/Frontend/load-pass-plugin.swift
Owners: @rudkx, @DougGregor

[Concurrency] Treat globally-isolated local captured functions as `Sendable`.
  lib/Sema/TypeCheckConcurrency.cpp
Owners: @rudkx

.github: Fix order
  .github/CODEOWNERS
Owners: @rudkx

.github: Add missing mappings implied by owning `/lib/Driver`
  .github/CODEOWNERS
Owners: @rudkx

.github: Add @compnerd as a code owner of Windows docs
  .github/CODEOWNERS
Owners: @rudkx

.github: Add missing mappings implied by owning `/lib/Serialization/SerializedModuleLoader*`
  .github/CODEOWNERS
Owners: @rudkx

.github: Add missing mappings implied by owning `/lib/DependencyScan`
  .github/CODEOWNERS
Owners: @rudkx
