Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx

[region-isolation] Do not crash on SILUndef.
  lib/SILOptimizer/Analysis/RegionAnalysis.cpp
  test/Concurrency/transfernonsendable.swift
Owners: @DougGregor

[CachedDiagnostics] Optimize in case no diagnostics is emitted
  lib/Frontend/CachedDiagnostics.cpp
Owners: @rudkx

[CMake] Exclude swift-syntax targets from 'all'
  lib/CompilerSwiftSyntax/CMakeLists.txt
  lib/SwiftSyntax/CMakeLists.txt
Owners: @DougGregor

[windows][toolchain] build android compiler-rt builtins when building Android SDK with build.ps1
  cmake/caches/Windows-aarch64.cmake
  cmake/caches/Windows-x86_64.cmake
  utils/build.ps1
Owners: @DougGregor, @rudkx

[NFC] Rename unresolvedProperty to handle all members.
  include/swift/AST/Expr.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ASTWalker.cpp
  lib/IDE/SourceEntityWalker.cpp
  lib/Parse/ParseExpr.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckExprObjC.cpp
Owners: @rudkx

Generalize unresolvedSubscript for all unresolved members with args.
  include/swift/AST/Expr.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ASTWalker.cpp
  lib/AST/Expr.cpp
  lib/IDE/SourceEntityWalker.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/ConstraintLocator.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/PreCheckExpr.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckConstraints.cpp
  lib/Sema/TypeCheckExprObjC.cpp
Owners: @rudkx

Add Apply component to handle resolved application.
  include/swift/AST/Expr.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ASTWalker.cpp
  lib/AST/Expr.cpp
  lib/IDE/SourceEntityWalker.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckExprObjC.cpp
Owners: @rudkx

[NFC] Rename Property to handle all members.
  include/swift/AST/Expr.h
  lib/AST/ASTDumper.cpp
  lib/AST/ASTPrinter.cpp
  lib/AST/ASTWalker.cpp
  lib/IDE/SourceEntityWalker.cpp
  lib/SILGen/SILGenExpr.cpp
  lib/Sema/CSApply.cpp
  lib/Sema/CSGen.cpp
  lib/Sema/ConstraintSystem.cpp
  lib/Sema/MiscDiagnostics.cpp
  lib/Sema/TypeCheckAvailability.cpp
  lib/Sema/TypeCheckCodeCompletion.cpp
  lib/Sema/TypeCheckExprObjC.cpp
Owners: @rudkx

[PreCheckExpr] wip
  lib/Sema/PreCheckExpr.cpp
Owners: @rudkx

[CSGen] wip
  lib/Sema/CSGen.cpp
Owners: @rudkx

[CSApply] wip
  lib/Sema/CSApply.cpp
Owners: @rudkx

Upstream some binary-compatibility logic
  stdlib/public/runtime/Bincompat.cpp
Owners: @DougGregor

Initial pass over stdlib to be concurrency compliant
  stdlib/public/SwiftShims/swift/shims/GlobalObjects.h
  stdlib/public/core/BridgeObjectiveC.swift
  stdlib/public/core/Codable.swift
  stdlib/public/core/CommandLine.swift
  stdlib/public/core/LegacyABI.swift
  stdlib/public/core/OutputStream.swift
  stdlib/public/core/ReflectionMirror.swift
  stdlib/public/core/Shims.swift
  stdlib/public/core/VarArgs.swift
  stdlib/public/stubs/GlobalObjects.cpp
Owners: @DougGregor

[ClangImporter] Make sure the `-resource-dir` is checked before the `-sdk`, as done everywhere else in the compiler
  lib/ClangImporter/ClangIncludePaths.cpp
Owners: @rudkx

Simple AVR support
  CMakeLists.txt
  cmake/modules/SwiftConfigureSDK.cmake
  cmake/modules/SwiftSetIfArchBitness.cmake
  lib/Basic/LangOptions.cpp
  utils/build-script-impl
  utils/swift_build_support/swift_build_support/targets.py
Owners: @DougGregor, @rudkx

[Dependency Scanning] Enable parallel dependency scanning by-default
  include/swift/Frontend/FrontendOptions.h
  include/swift/Option/FrontendOptions.td
  lib/Frontend/ArgsToFrontendOptionsConverter.cpp
Owners: @rudkx

Verify that hash/equality behavior is all consistent
  test/stdlib/Inputs/SwiftObjectNSObject/SwiftObjectNSObject.m
  test/stdlib/SwiftObjectNSObject.swift
Owners: @DougGregor, @rudkx

Missed these bits in the PR.
  lib/Basic/LangOptions.cpp
Owners: @rudkx

move this change to PR 74693
  lib/Basic/LangOptions.cpp
Owners: @rudkx

Increase impact of arg/param mismatch if param has type var (likely generic) but arg does not.
  lib/Sema/CSSimplify.cpp
  test/Constraints/bridging.swift
  test/Constraints/diagnostics.swift
  test/Constraints/issue-74700.swift
  test/expr/expressions.swift
Owners: @rudkx

NCGenerics: fix partial backdeployment support
  lib/IRGen/GenReflection.cpp
  test/Backdeploy/Noncopyable/mangling.swift
Owners: @rudkx, @DougGregor

Enable copy elimination of captures for all types in ClosureLifetimeFixup
  lib/SILOptimizer/Mandatory/ClosureLifetimeFixup.cpp
  test/SILOptimizer/closure-lifetime-fixup.sil
  test/SILOptimizer/closure_lifetime_fixup_copyelim.swift
  test/SILOptimizer/moveonly_closure_lifetime_fixup_address_only_borrowed_captures.swift
  test/SILOptimizer/opaque_values_Onone.swift
Owners: @DougGregor, @rudkx

Add tests to check we won't eliminate copies when they are needed to avoid exclusivity issues
  test/SILOptimizer/moveonly_closure_lifetime_fixup_address_only_borrowed_captures.swift
Owners: @rudkx

Add a flag to disable copy elimination of captures in ClosureLifetimeFixup
  lib/SILOptimizer/Mandatory/ClosureLifetimeFixup.cpp
  test/SILOptimizer/closure-lifetime-fixup-debuginfo.sil
Owners: @DougGregor, @rudkx

[ClangImporter] Handle split sema
  lib/ClangImporter/ClangImporter.cpp
Owners: @rudkx

[ClangImporter] Use new `LocalDeclID`
  lib/ClangImporter/SwiftLookupTable.cpp
Owners: @rudkx

[ClangImporter] Handle `pair` to actual struct change
  lib/ClangImporter/ClangImporter.cpp
Owners: @rudkx

[ClangImporter] Add various `const`
  include/swift/ClangImporter/SwiftAbstractBasicReader.h
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ImportName.cpp
  tools/SourceKit/lib/SwiftLang/SwiftSourceDocInfo.cpp
Owners: @rudkx, @DougGregor

[ClangImporter] Rename `OMPArraySection` to `ArraySection`
  lib/ClangImporter/ClangAdapter.cpp
  lib/ClangImporter/ImportType.cpp
Owners: @rudkx

[ClangImporter] Rename `isUnnamedBitfield` to `isUnnamedBitField`
  lib/ClangImporter/ImportDecl.cpp
Owners: @rudkx

[ClangImporter] Add initial empty handling for `UnresolvedTemplate`
  lib/ClangImporter/ClangAdapter.cpp
  lib/ClangImporter/ImportType.cpp
Owners: @rudkx

reword some diagnostics
  include/swift/AST/DiagnosticsSema.def
Owners: @rudkx

revert init accessors changes + update tests
  include/swift/AST/DiagnosticsSema.def
  test/Macros/accessor_macros.swift
  test/decl/var/effectful_property_wrapper.swift
  test/decl/var/init_accessors.swift
Owners: @rudkx, @DougGregor

Cleanup `deque` includes
  lib/AST/NameLookup.cpp
  lib/AST/RequirementMachine/KnuthBendix.cpp
  lib/IDE/ImportDepth.cpp
  lib/SILOptimizer/Utils/CastOptimizer.cpp
  lib/SILOptimizer/Utils/InstOptUtils.cpp
  tools/SourceKit/lib/SwiftLang/CodeCompletionOrganizer.cpp
Owners: @rudkx, @DougGregor

[android] Enable several C++ Interop and other tests
  CMakeLists.txt
  docs/Android.md
  test/Concurrency/Runtime/actor_assert_precondition_executor_checkIsolated_dispatch_dispatchMain_swift_6_mode.swift
  test/Interop/Cxx/class/custom-new-operator-irgen.swift
  test/Interop/Cxx/class/memory-layout-silgen.swift
  test/Interop/Cxx/foreign-reference/move-only-irgen.swift
  test/Interop/Cxx/foreign-reference/move-only-module-interface.swift
  test/Interop/Cxx/foreign-reference/move-only-silgen.swift
  test/Interop/Cxx/foreign-reference/nullable-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod-irgen.swift
  test/Interop/Cxx/foreign-reference/pod-module-interface.swift
  test/Interop/Cxx/foreign-reference/pod-silgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted-irgen.swift
  test/Interop/Cxx/foreign-reference/reference-counted-silgen.swift
  test/Interop/Cxx/foreign-reference/singleton-irgen.swift
  test/Interop/Cxx/foreign-reference/singleton-module-interface.swift
  test/Interop/Cxx/foreign-reference/singleton-silgen.swift
  test/Interop/SwiftToCxx/core/unsigned-return-type-no-zext.cpp
  test/Interop/SwiftToCxx/stdlib/stdlib-in-cxx-no-diagnostics-generated-header.cpp
  test/Interop/SwiftToCxxToSwift/hide-swift-module-namespace-in-swift.swift
  test/Interop/SwiftToCxxToSwift/import-swift-class-back-to-swift.swift
  test/Interpreter/llvm_link_time_opt.swift
  test/lit.cfg
  utils/build_swift/build_swift/driver_arguments.py
Owners: @DougGregor, @rudkx

update acessor_macros tests
  test/Macros/accessor_macros.swift
Owners: @DougGregor

remove member from noncopyable_cannot_have_read_set_accessor
  include/swift/AST/DiagnosticsSema.def
Owners: @rudkx

[Completion] Use `TypeAttr.def` for simple type attributes
  include/swift/AST/Attr.h
  lib/AST/Attr.cpp
  lib/IDE/CompletionLookup.cpp
Owners: @rudkx

[Sema] NFC: Remove `isSILAttribute`
  lib/Sema/TypeCheckType.cpp
Owners: @rudkx

[Parse] NFC: Move these decls down a bit
  include/swift/Parse/Parser.h
Owners: @rudkx
