Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

[MemoryLocations] Removed unused flag.
  include/swift/SIL/MemoryLocations.h
  lib/SIL/Utils/MemoryLocations.cpp
  lib/SIL/Verifier/MemoryLifetimeVerifier.cpp
Owners: @rudkx, @DougGregor

[SILVerifier] Loosen checks on trivial memory.
  lib/SIL/Verifier/SILVerifier.cpp
  test/SIL/verifier_nofail.sil
Owners: @DougGregor, @rudkx

Performance improvements for reading keypaths
  stdlib/public/core/KeyPath.swift
Owners: @DougGregor

Round up sizeWithMaxSize
  stdlib/public/core/KeyPath.swift
Owners: @DougGregor

Check maxSize on finish
  stdlib/public/core/KeyPath.swift
Owners: @DougGregor

Optimization for single component and fix tests
  stdlib/public/SwiftShims/swift/shims/KeyPath.h
  stdlib/public/core/KeyPath.swift
  stdlib/public/core/ReflectionMirror.swift
Owners: @DougGregor

Move variable into closure
  stdlib/public/core/KeyPath.swift
  stdlib/public/core/TemporaryAllocation.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
Owners: @DougGregor

Remove some workarounds
  stdlib/public/core/KeyPath.swift
  stdlib/public/core/TemporaryAllocation.swift
  stdlib/public/core/UnsafeRawBufferPointer.swift.gyb
Owners: @DougGregor

Fix mem2reg of lexical enum stack locations
  lib/SILOptimizer/Transforms/SILMem2Reg.cpp
  test/SILOptimizer/mem2reg_ossa_nontrivial.sil
Owners: @DougGregor, @rudkx

[storageview] more non-escapable clauses
  stdlib/public/core/StorageView/ContiguousStorage.swift
  stdlib/public/core/StorageView/StorageView.swift
  stdlib/public/core/StorageView/StorageViewIndex.swift
  stdlib/public/core/StorageView/StorageViewIterator.swift
Owners: @DougGregor

[storageview] another set of tweaks
  stdlib/public/core/StorageView/ContiguousStorage.swift
  stdlib/public/core/StorageView/StorageView.swift
  stdlib/public/core/StorageView/StorageViewIndex.swift
  stdlib/public/core/StorageView/StorageViewIterator.swift
Owners: @DougGregor

[storageview] conditionally compile StorageView
  stdlib/public/core/StorageView/ContiguousStorage.swift
  stdlib/public/core/StorageView/StorageView.swift
  stdlib/public/core/StorageView/StorageViewIndex.swift
  stdlib/public/core/StorageView/StorageViewIterator.swift
Owners: @DougGregor

[wip] badly adapt `withExtendedLifetime` for bare types
  stdlib/public/core/LifetimeManager.swift
Owners: @DougGregor

[Build] Add the new fully-static Linux SDK.
  CMakeLists.txt
  cmake/modules/SwiftConfigureSDK.cmake
  stdlib/cmake/modules/AddSwiftStdlib.cmake
  stdlib/public/Resources/linux-static/static-executable-args.lnk
  stdlib/public/Resources/linux-static/static-stdlib-args.lnk
  test/CMakeLists.txt
  utils/build-script
  utils/build-script-impl
  utils/build_swift/build_swift/driver_arguments.py
  utils/build_swift/tests/expected_options.py
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/host_specific_configuration.py
  utils/swift_build_support/swift_build_support/products/cmake_product.py
  utils/swift_build_support/swift_build_support/products/llvm.py
  utils/swift_build_support/swift_build_support/targets.py
Owners: @DougGregor, @rudkx

[Platform] Update musl modulemap and improve musl platform support.
  stdlib/public/Platform/CMakeLists.txt
  stdlib/public/Platform/Platform.swift
  stdlib/public/Platform/SwiftMusl.h
  stdlib/public/Platform/musl.modulemap
Owners: @DougGregor

[Runtime] Fix generation of .lnk files for static linking.
  stdlib/public/runtime/CMakeLists.txt
Owners: @DougGregor

Add support to the compiler for musl and the LINUX_STATIC SDK.
  lib/Basic/Platform.cpp
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangIncludePaths.cpp
  lib/Driver/UnixToolChains.cpp
Owners: @rudkx

[Backtracing] Make the backtracer work for fully-static Linux.
  stdlib/public/Backtracing/CMakeLists.txt
  stdlib/public/Backtracing/Context.swift
  stdlib/public/libexec/swift-backtrace/CMakeLists.txt
  stdlib/public/libexec/swift-backtrace/TargetLinux.swift
  stdlib/public/libexec/swift-backtrace/Utils.swift
  stdlib/public/libexec/swift-backtrace/main.swift
  stdlib/public/runtime/CrashHandlerLinux.cpp
  stdlib/public/runtime/Paths.cpp
Owners: @DougGregor

[Stdlib][Build] Fix the standard library build for fully static Linux.
  stdlib/private/SwiftPrivate/CMakeLists.txt
  stdlib/private/SwiftPrivateLibcExtras/CMakeLists.txt
  stdlib/private/SwiftPrivateThreadExtras/CMakeLists.txt
  stdlib/private/SwiftReflectionTest/CMakeLists.txt
  stdlib/public/Cxx/cxxshim/CMakeLists.txt
  stdlib/public/Cxx/libstdcxx/CMakeLists.txt
  stdlib/public/Differentiation/CMakeLists.txt
  stdlib/public/StringProcessing/CMakeLists.txt
  stdlib/public/SwiftRemoteMirror/CMakeLists.txt
  stdlib/public/SwiftShims/swift/shims/CMakeLists.txt
  stdlib/public/SwiftShims/swift/shims/LibcShims.h
  stdlib/tools/swift-reflection-test/CMakeLists.txt
Owners: @DougGregor

utils: support building android SDKs on Windows
  utils/build.ps1
Owners: @rudkx

[InterfaceFile] Improve flag extraction from interface file
  lib/Serialization/SerializedModuleLoader.cpp
Owners: @rudkx

Add cross-compiling support for the windows toolchain
  utils/build.ps1
Owners: @rudkx

[RemoteInspection] Use `bool` instead of `!!`.
  include/swift/RemoteInspection/ReflectionContext.h
Owners: @DougGregor

[Runtime] Tidy up section declarations slightly.
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
Owners: @DougGregor

[Test] Fix function_sections test to support different linkers.
  test/LinkerSections/function_sections.swift
Owners: @DougGregor

[Test] Add linker_overridden feature.
  test/Driver/link-time-opt.swift
  test/Driver/static-archive.swift
  test/Interpreter/llvm_link_time_opt.swift
  test/embedded/once.swift
  test/lit.cfg
Owners: @rudkx, @DougGregor

[IRGen] Use llvm.used on ELF instead of llvm.compiler.used.
  lib/Driver/UnixToolChains.cpp
  lib/IRGen/GenDecl.cpp
  test/Distributed/distributed_actor_accessor_section_elf.swift
  test/Driver/link-time-opt.swift
  test/IRGen/ELF-remove-autolink-section.swift
  test/IRGen/autolink_elf.swift
  test/IRGen/objc_protocol_vars.sil
  test/IRGen/section_asm.swift
  test/IRGen/unused.sil
  test/embedded/internalize-no-stdlib.swift
Owners: @rudkx, @DougGregor

[RemoteInspection] Update ReflectionContext to cope with multiple sections.
  include/swift/RemoteInspection/ReflectionContext.h
Owners: @DougGregor

[IRGen] Set `TargetOpts.UseInitArray` in `getIRTargetOptions()`.
  lib/IRGen/IRGen.cpp
Owners: @rudkx

[RemoteInspection] Add a big comment to ReflectionContext.h.
  include/swift/RemoteInspection/ReflectionContext.h
Owners: @DougGregor

[Test] Update section_asm to work on non-ELF platforms again.
  test/IRGen/section_asm.swift
  test/lit.cfg
Owners: @rudkx

[IRGen] When creating a module object, mark `__Swift_AST` as used.
  lib/IRGen/IRGen.cpp
Owners: @rudkx

[Runtime] Add the `retain` attribute to make the backtracer work.
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
Owners: @DougGregor

[Explicit Module Builds] Initialize ClangImporter's 'CodeGenerator' using Swift compilation Target Triple.
  lib/IRGen/IRGenModule.cpp
  test/ScanDependencies/Inputs/CHeaders/ExtraCModules/Bar.h
  test/ScanDependencies/Inputs/CHeaders/ExtraCModules/module.modulemap
  test/ScanDependencies/clang-target-clang-irgen.swift
Owners: @rudkx, @DougGregor

[Test][SourceKit] Use the *builder*'s swiftrt.o when in hosttools.
  tools/SourceKit/cmake/modules/AddSwiftSourceKit.cmake
Owners: @DougGregor

[Runtime] Tidy up a couple of minor nits.
  stdlib/public/runtime/SwiftRT-ELF-WASM.cpp
Owners: @DougGregor

[RemoteInspection] Change "return false" to "return {}".
  include/swift/RemoteInspection/ReflectionContext.h
Owners: @DougGregor

Fix class extension visibility bug
  lib/ClangImporter/ClangImporter.cpp
  test/ClangImporter/Inputs/frameworks/Module.framework/Headers/Module.h
  test/ClangImporter/Inputs/frameworks/Module.framework/Modules/module.private.modulemap
  test/ClangImporter/Inputs/frameworks/Module.framework/PrivateHeaders/Sub3.h
  test/ClangImporter/Inputs/frameworks/Module.framework/PrivateHeaders/Sub4.h
  test/ClangImporter/diags_from_module.swift
  test/ClangImporter/rdar123543707.swift
Owners: @rudkx, @DougGregor

[Build] Add support for static-linking to the SDK system.
  cmake/modules/SwiftConfigureSDK.cmake
Owners: @DougGregor

[Build] Tweak Libdispatch.cmake for static linking support.
  cmake/modules/Libdispatch.cmake
Owners: @DougGregor

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx
