Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx

SILGen for isolated deinit
  include/swift/AST/Attr.def
  lib/SIL/IR/SILDeclRef.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/MainActor.swift
Owners: @rudkx, @DougGregor

Generating errors when isolation of the subclass deinit is not compatible with superclass deinit
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDeclPrimary.cpp
  test/Concurrency/deinit_isolation.swift
Owners: @rudkx, @DougGregor

Fixed linkage logic for isolated deallocating deinit
  lib/SIL/IR/SILDeclRef.cpp
  test/SILGen/inlinable_attribute.swift
Owners: @DougGregor, @rudkx

Disable string processing
  test/Concurrency/deinit_isolation_objc.swift
Owners: @DougGregor

Added checks for mangled names for isolated deinits
  test/Concurrency/deinit_isolation.swift
Owners: @DougGregor

Fixed a bug in computing isolation of @objc actors. Added tests for @objc declarations
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/deinit_isolation_objc.swift
Owners: @rudkx, @DougGregor

Introduced isolated deinit as a SIL entity
  docs/ABI/Mangling.rst
  include/swift/AST/ASTMangler.h
  include/swift/Demangling/DemangleNodes.def
  include/swift/SIL/SILDeclRef.h
  lib/AST/ASTMangler.cpp
  lib/Demangling/Demangler.cpp
  lib/Demangling/NodePrinter.cpp
  lib/Demangling/OldDemangler.cpp
  lib/Demangling/OldRemangler.cpp
  lib/Demangling/Remangler.cpp
  lib/IRGen/GenObjC.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SIL/IR/SILFunctionType.cpp
  lib/SIL/IR/SILPrinter.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SIL/Parser/ParseSIL.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenFunction.cpp
  test/Demangle/Inputs/manglings.txt
  test/Demangle/Inputs/simplified-manglings.txt
Owners: @DougGregor, @rudkx

Implemented copying task-local values for AdHocJob and added unit-tests
  include/swift/ABI/Task.h
  include/swift/ABI/TaskLocal.h
  stdlib/public/Concurrency/Task.cpp
  stdlib/public/Concurrency/TaskLocal.cpp
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/Concurrency/voucher_propagation.swift
Owners: @rudkx, @DougGregor

Updated SILGen for isolated deinit in @objc classes
  lib/SILGen/SILGen.cpp
Owners: @rudkx

Use init_existential_ref instead of unchecked_value_cast to avoid hitting unimplemented bits of region-based isolation checker
  lib/SILGen/SILGenDestructor.cpp
Owners: @rudkx

Runtime support for isolated deinit
  include/swift/ABI/Executor.h
  include/swift/ABI/MetadataValues.h
  include/swift/ABI/Task.h
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Task.cpp
Owners: @rudkx, @DougGregor

Don't generate isolating destructor if dealloc was explicitly isolated in ObjC
  include/swift/AST/Decl.h
  lib/AST/Decl.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  test/Concurrency/deinit_isolation_import/test.swift
Owners: @rudkx, @DougGregor

Fixed some tests. Using extract_executor SIL instruction instead of custom code.
  lib/SILGen/SILGenDestructor.cpp
  stdlib/public/Concurrency/Executor.swift
  test/Concurrency/flow_isolation.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/Distributed/Runtime/distributed_actor_remote_fieldsDontCrashDeinit.swift
  test/Distributed/Runtime/distributed_actor_remote_retains_system.swift
  test/Incremental/Verifier/single-file-private/AnyObject.swift
  test/ModuleInterface/SmokeTest.swiftinterface
  test/Serialization/Recovery/implementation-only-override.swift
  test/Serialization/Recovery/overrides.swift
  test/Serialization/attr-nonisolated.swift
  test/SourceKit/InterfaceGen/gen_swift_module.swift.from_swiftinterface.response
Owners: @rudkx, @DougGregor

Enabled isolated deinit in Sema
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/actor_isolation.swift
  test/Concurrency/flow_isolation.swift
  test/attr/global_actor.swift
Owners: @rudkx, @DougGregor

Added isolated deallocator to TBDGen
  include/swift/SIL/SILModule.h
  lib/SIL/IR/SILSymbolVisitor.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  test/Concurrency/deinit_isolation_tbd.swift
Owners: @rudkx, @DougGregor

Block task-local values in isolated deinit, instead of copying, following review feedback
  include/swift/ABI/TaskLocal.h
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/TaskLocal.cpp
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
Owners: @rudkx, @DougGregor

Added more tests for isolated actor deinit:
  test/Concurrency/Runtime/actor_deinit_escaping_self.swift
  test/Concurrency/Runtime/actor_recursive_deinit.swift
Owners: @DougGregor

Updated Distributed/Runtime/distributed_actor_deinit.swift to check for isolation
  test/Distributed/Runtime/distributed_actor_deinit.swift
Owners: @DougGregor

Expanded test for SIL for distributed actor deinit, added isolated cases
  lib/SILGen/SILGenDestructor.cpp
  test/Distributed/SIL/distributed_actor_default_deinit_sil.swift
Owners: @rudkx, @DougGregor

Fixed some typos
  include/swift/AST/Decl.h
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  stdlib/public/Concurrency/Task.cpp
Owners: @rudkx, @DougGregor

Fix failures in update_checkout tests because of missing user identity
  utils/update_checkout/tests/scheme_mock.py
Owners: @DougGregor

Fixed coverage tests after rebase
  test/Distributed/SIL/distributed_actor_explicit_deinit_coverage.swift
Owners: @DougGregor

Don't switch threads when running isolated deinit of the default actor.
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Task.cpp
Owners: @DougGregor

Rename performOnExecutor into deinitOnExecutor.
  include/swift/ABI/Executor.h
  include/swift/ABI/MetadataValues.h
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenDestructor.cpp
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  test/Distributed/SIL/distributed_actor_default_deinit_sil.swift
Owners: @rudkx, @DougGregor

Fixed tests on Linux, Windows and older MacOS versions
  test/Concurrency/Runtime/actor_deinit_escaping_self.swift
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/Concurrency/deinit_isolation.swift
  test/Concurrency/deinit_isolation_import/test.swift
  test/Concurrency/deinit_isolation_objc.swift
  test/Concurrency/deinit_isolation_tbd.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/SourceKit/InterfaceGen/gen_swift_module.swift
  test/SourceKit/InterfaceGen/gen_swift_module.swift.from_swiftinterface.response
Owners: @DougGregor

Implemented stop nodes in TaskLocal values and refactored encoding of item types
  include/swift/ABI/Task.h
  include/swift/ABI/TaskLocal.h
  include/swift/Runtime/Concurrency.h
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/TaskLocal.cpp
  stdlib/public/Concurrency/TaskLocal.swift
  stdlib/public/Concurrency/TaskPrivate.h
Owners: @rudkx, @DougGregor

Updated unit tests
  test/Concurrency/voucher_propagation.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
Owners: @DougGregor

Make deinit non-isolated by default
  include/swift/AST/Attr.def
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckConcurrency.cpp
  test/Concurrency/Runtime/actor_deinit_escaping_self.swift
  test/Concurrency/Runtime/actor_recursive_deinit.swift
  test/Concurrency/Runtime/async_task_locals_isolated_deinit.swift
  test/Concurrency/actor_isolation.swift
  test/Concurrency/deinit_isolation.swift
  test/Concurrency/deinit_isolation_import/test.swift
  test/Concurrency/deinit_isolation_objc.swift
  test/Concurrency/flow_isolation.swift
  test/Concurrency/voucher_propagation.swift
  test/Distributed/Runtime/distributed_actor_deinit.swift
  test/SILGen/inlinable_attribute.swift
Owners: @rudkx, @DougGregor

Don't isolate deinit of remote actor proxies
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenDistributed.cpp
  lib/SILGen/SILGenFunction.h
  test/Distributed/SIL/distributed_actor_default_deinit_sil.swift
Owners: @rudkx, @DougGregor

Allow accessing let properties in deinit isolated on different actor
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDistributed.cpp
Owners: @rudkx

Reviewed code comments. Fixed typos and addressed some TODOs
  lib/SIL/IR/SILFunctionType.cpp
  lib/SILGen/SILGenDestructor.cpp
  lib/Sema/TypeCheckConcurrency.cpp
Owners: @DougGregor, @rudkx

Removed some dead code
  lib/SILGen/SILGenDistributed.cpp
  lib/SILGen/SILGenFunction.h
Owners: @rudkx

Removed explicit deinit from MainActor - not needed.
  stdlib/public/Concurrency/MainActor.swift
Owners: @DougGregor

Fixed emitting hopping to executor in @objc deinit
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  lib/SILGen/SILGenProlog.cpp
Owners: @rudkx

Implemented suppressing isolated and async deinit for compatibility with older compiler versions
  include/swift/AST/Decl.h
  include/swift/AST/PrintOptions.h
  include/swift/Basic/Features.def
  lib/AST/ASTPrinter.cpp
  lib/AST/Attr.cpp
  lib/AST/Decl.cpp
  lib/Sema/TypeCheckConcurrency.cpp
  test/ModuleInterface/isolated-deinit-compatibility.swift
Owners: @rudkx, @DougGregor

Allow parsing async in deinit
  include/swift/AST/ASTBridging.h
  include/swift/AST/Decl.h
  include/swift/AST/DiagnosticsParse.def
  lib/AST/ASTBridging.cpp
  lib/AST/Decl.cpp
  lib/ASTGen/Sources/ASTGen/Decls.swift
  lib/ClangImporter/ImportDecl.cpp
  lib/Parse/ParseDecl.cpp
  lib/Serialization/Deserialization.cpp
  lib/Serialization/ModuleFormat.h
  lib/Serialization/Serialization.cpp
  test/Parse/async.swift
Owners: @rudkx, @DougGregor

Added async deinit to TBDGen
  lib/SIL/IR/SILSymbolVisitor.cpp
  test/Concurrency/deinit_isolation_tbd.swift
Owners: @DougGregor

Added executor parameter to deinitAsync
  include/swift/ABI/MetadataValues.h
  include/swift/ABI/TaskOptions.h
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/Task.cpp
Owners: @rudkx, @DougGregor

Runtime and CodeGen for async deinit
  include/swift/ABI/MetadataValues.h
  include/swift/AST/ASTMangler.h
  include/swift/AST/Decl.h
  include/swift/Runtime/Concurrency.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/AST/ASTMangler.cpp
  lib/AST/ASTVerifier.cpp
  lib/SIL/IR/SILDeclRef.cpp
  lib/SIL/IR/TypeLowering.cpp
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGen.h
  lib/SILGen/SILGenDestructor.cpp
  lib/SILGen/SILGenFunction.h
  lib/Sema/TypeCheckConcurrency.cpp
  lib/Sema/TypeCheckDeclObjC.cpp
  stdlib/public/CompatibilityOverride/CompatibilityOverrideConcurrency.def
  stdlib/public/Concurrency/Actor.cpp
  stdlib/public/Concurrency/Executor.swift
  stdlib/public/Concurrency/Task.cpp
Owners: @rudkx, @DougGregor

More tests
  test/Concurrency/deinit_isolation_import/Inputs/Alpha.swift
  test/Concurrency/deinit_isolation_import/test.swift
Owners: @DougGregor
