Repository apple/swift, changes with the owners that CODEOWNERS names for each.
All owners: @DougGregor, @rudkx, @tkremenek, @eeckstein, @airspeedswift

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js
#
# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# Default owner where none is specified
*                                       @DougGregor

# Top-level files
CHANGELOG.md                            @DougGregor @rudkx
CODEOWNERS                              @rudkx
CONTRIBUTING.md                         @tkremenek
LICENSE.txt                             @tkremenek
README.md                               @tkremenek

# Files that appear multiple times. Later mentions will take precedence.
CMakeLists.txt                          @DougGregor
lit.cfg                                 @DougGregor
lit.site.cfg.in                         @DougGregor

# Directories
apinotes/*                              @rudkx
benchmark/*                             @eeckstein
bindings/*                              @rudkx
cmake/*                                 @rudkx
docs/*                                  @rudkx

######################################################################
# Include files
######################################################################
include/*                               @rudkx
include/swift/ABI/*                     @rudkx
include/swift/AST/*                     @rudkx
include/swift/ASTSectionImporter/*      @rudkx
include/swift/Basic/*                   @rudkx
include/swift/ClangImporter/*           @rudkx
include/swift/Demangling/*              @rudkx
include/swift/Driver/*                  @rudkx
include/swift/Frontend/*                @rudkx
include/swift/FrontendTool/*            @rudkx
include/swift/IDE/*                     @rudkx
include/swift/IRGen/*                   @rudkx
include/swift/Immediate/*               @rudkx
include/swift/Index/*                   @rudkx
include/swift/LLVMPasses/*              @rudkx
include/swift/Markup/*                  @rudkx
include/swift/Migrator/*                @rudkx
include/swift/Option/*                  @rudkx
include/swift/Parse/*                   @rudkx
include/swift/PrintAsObjC/*             @rudkx
include/swift/Reflection/*              @rudkx
include/swift/Remote/*                  @rudkx
include/swift/RemoteAST/*               @rudkx
include/swift/Runtime/*                 @rudkx
include/swift/SIL/*                     @rudkx
include/swift/SILOptimizer/*            @rudkx
include/swift/Sema/*                    @rudkx
include/swift/Serialization/*           @rudkx
include/swift/SwiftDemangle/*           @rudkx
include/swift/SwiftRemoteMirror/*       @rudkx
include/swift/Syntax/*                  @rudkx
include/swift/TBDGen/*                  @rudkx
include/swift/Strings.h                 @rudkx
include/swift/Subsystems.h              @rudkx


######################################################################
# Source files
######################################################################
lib/*                                   @rudkx
lib/AST/*                               @rudkx
lib/ASTSectionImporter/*                @rudkx
lib/Basic/*                             @rudkx
lib/ClangImporter/*                     @rudkx
lib/Demangling/*                        @rudkx
lib/Driver/*                            @rudkx
lib/Frontend/*                          @rudkx
lib/FrontendTool/*                      @rudkx
lib/IDE/*                               @rudkx
lib/IRGen/*                             @rudkx
lib/Immediate/*                         @rudkx
lib/Index/*                             @rudkx
lib/LLVMPasses/*                        @rudkx
lib/Markup/*                            @rudkx
lib/Migrator/*                          @rudkx
lib/Option/*                            @rudkx
lib/Parse/*                             @rudkx
lib/ParseSIL/*                          @rudkx
lib/PrintAsObjC/*                       @rudkx
lib/RemoteAST/*                         @rudkx
lib/SIL/*                               @rudkx
lib/SILGen/*                            @rudkx
lib/SILOptimizer/*                      @rudkx
lib/Sema/*                              @rudkx
lib/Serialization/*                     @rudkx
lib/SwiftDemangle/*                     @rudkx
lib/Syntax/*                            @rudkx
lib/TBDGen/*                            @rudkx


stdlib/*                                @airspeedswift

test/*                                  @rudkx
test/APINotes/*                         @rudkx
test/AutolinkExtract/*                  @rudkx
test/CircularReferences/*               @rudkx
test/ClangImporter/*                    @rudkx
test/Compatibility/*                    @rudkx
test/Constraints/*                      @rudkx
test/DebugInfo/*                        @rudkx
test/Demangle/*                         @rudkx
test/Driver/*                           @rudkx
test/FixCode/*                          @rudkx
test/Frontend/*                         @rudkx
test/Fuzzing/*                          @rudkx
test/Generics/*                         @rudkx
test/IDE/*                              @rudkx
test/IRGen/*                            @rudkx
test/Index/*                            @rudkx
test/Inputs/*                           @rudkx
test/InterfaceHash/*                    @rudkx
test/Interpreter/*                      @rudkx
test/LLVMPasses/*                       @rudkx
test/Migrator/*                         @rudkx
test/Misc/*                             @rudkx
test/NameBinding/*                      @rudkx
test/PCMacro/*                          @rudkx
test/Parse/*                            @rudkx
test/PlaygroundTransform/*              @rudkx
test/PrintAsObjC/*                      @rudkx
test/Prototypes/*                       @rudkx
test/Reflection/*                       @rudkx
test/RemoteAST/*                        @rudkx
test/Runtime/*                          @rudkx
test/SIL/*                              @rudkx
test/SILGen/*                           @rudkx
test/SILOptimizer/*                     @rudkx
test/Sanitizers/*                       @rudkx
test/Sema/*                             @rudkx
test/Serialization/*                    @rudkx
test/SourceKit/*                        @rudkx
test/Syntax/*                           @rudkx
test/TBD/*                              @rudkx
test/TypeCoercion/*                     @rudkx
test/Unit/*                             @rudkx
test/api-digester/*                     @rudkx
test/attr/*                             @rudkx
test/decl/*                             @rudkx
test/expr/*                             @rudkx
test/multifile/*                        @rudkx
test/reproducible-builds/*              @rudkx
test/sil-func-extractor/*               @rudkx
test/sil-llvm-gen/*                     @rudkx
test/sil-nm/*                           @rudkx
test/sil-opt/*                          @rudkx
test/sil-passpipeline-dump/*            @rudkx
test/stdlib/*                           @rudkx
test/stmt/*                             @rudkx
test/swift-format/*                     @rudkx
test/type/*                             @rudkx

tools/*                                 @rudkx
unittests/*                             @rudkx
utils/*                                 @rudkx

validation-test/*                       @rudkx
validation-test/BuildSystem/*           @rudkx
validation-test/Driver/*                @rudkx
validation-test/Evolution/*             @rudkx
validation-test/IDE/*                   @rudkx
validation-test/Python/*                @rudkx
validation-test/Reflection/*            @rudkx
validation-test/SIL/*                   @rudkx
validation-test/Sema/*                  @rudkx
validation-test/Serialization/*         @rudkx
validation-test/StdlibUnittest/*        @rudkx
validation-test/benchmark/*             @rudkx
validation-test/compiler_crashers/*     @rudkx
validation-test/compiler_crashers_2/*   @rudkx
validation-test/compiler_crashers_2_fixed/*     @rudkx
validation-test/compiler_crashers_fixed/*       @rudkx
validation-test/compiler_scale/*                @rudkx
validation-test/execution/*                     @rudkx
validation-test/radar/*                         @rudkx
validation-test/stdlib/*                        @rudkx
validation-test/test-runner/*                   @rudkx

.github: Complete migration from `CODE_OWNERS.txt`
  .github/CODEOWNERS
  CODE_OWNERS.TXT
Owners: @rudkx, @DougGregor

Handle begin_apply in PartialApplyCombiner
  lib/SILOptimizer/Utils/PartialApplyCombiner.cpp
  test/SILOptimizer/sil_combine_apply_ossa.sil
Owners: @DougGregor, @rudkx

Partial apply for coroutines
  lib/IRGen/GenCall.cpp
  lib/IRGen/GenDecl.cpp
  lib/IRGen/GenFunc.cpp
  lib/IRGen/IRGenSIL.cpp
  test/IRGen/partial_apply_coro.sil
Owners: @rudkx

Add autodiff execution test for modify accessor differentiation
  test/AutoDiff/validation-test/modify_accessor.swift
Owners: @DougGregor

Use toolchain clang on macOS
  utils/build-script-impl
Owners: @rudkx

Only get types from solutions where those exprs have no fixes.
  lib/Sema/ConstraintSystem.cpp
  test/Constraints/diagnostics.swift
  test/Constraints/enum_cases.swift
  test/Misc/misc_diagnostics.swift
  test/expr/expressions.swift
  test/type/protocol_composition.swift
Owners: @rudkx

[SIL] Prevent emitting descriptors for static properties in protocol extensions.
  lib/SIL/IR/SIL.cpp
Owners: @DougGregor

[SILGen] Emit property descriptors for static properties.
  lib/SILGen/SILGenType.cpp
Owners: @rudkx

[SIL] Remove check preventing static keypaths in SIL.
  lib/SIL/IR/SIL.cpp
Owners: @DougGregor

[StdLib] Handle nil property descriptors.
  stdlib/public/core/KeyPath.swift
Owners: @DougGregor

[SILGen] Generate IDs for static key path components.
  lib/SILGen/SILGenExpr.cpp
Owners: @rudkx

[Sema] Remove checks preventing metatype keypaths in Sema.
  include/swift/Sema/CSFix.h
  lib/Sema/CSApply.cpp
  lib/Sema/CSFix.cpp
Owners: @rudkx

[IRGen] Weak link static keypath component property descriptors.
  lib/IRGen/Linking.cpp
Owners: @rudkx

[SILGen] Amend checks preventing metatype keypaths in SilGen.
  lib/SILGen/SILGen.cpp
  lib/SILGen/SILGenExpr.cpp
Owners: @rudkx

[SILGen] Add metatype to keypath base type for static properties.
  include/swift/SIL/SILProperty.h
  lib/SIL/Verifier/SILVerifier.cpp
  lib/SILGen/SILGen.cpp
Owners: @rudkx, @DougGregor

[Sema] Update diagnostics.
  include/swift/AST/DiagnosticsSema.def
  include/swift/Sema/CSFix.h
  lib/Sema/CSDiagnostics.cpp
  lib/Sema/CSDiagnostics.h
  lib/Sema/CSFix.cpp
  lib/Sema/CSSimplify.cpp
Owners: @rudkx

[Tests] Update Interpreter tests.
  test/Interpreter/keypath.swift
Owners: @rudkx

[Tests] Update Sema tests.
  test/SILOptimizer/access_wmo_diagnose.swift
  test/attr/attr_dynamic_member_lookup.swift
  test/expr/unary/keypath/keypath.swift
Owners: @rudkx, @DougGregor

[Tests] Add static keypaths tests.
  test/ModuleInterface/static_keypaths.swift
Owners: @DougGregor

[Tests] Update SilGen tests.
  test/SILGen/keypaths.swift
Owners: @rudkx

[Serialization] Increment SWIFTMODULE_VERSION_MINOR.
  lib/Serialization/ModuleFormat.h
Owners: @rudkx

[Tests] Update ABI tests.
  test/abi/macOS/arm64/concurrency.swift
  test/abi/macOS/arm64/regex-builder.swift
  test/abi/macOS/arm64/stdlib.swift
  test/abi/macOS/arm64/string-processing.swift
  test/abi/macOS/arm64/synchronization.swift
  test/abi/macOS/x86_64/concurrency.swift
  test/abi/macOS/x86_64/regex-builder.swift
  test/abi/macOS/x86_64/stdlib.swift
  test/abi/macOS/x86_64/string-processing.swift
  test/abi/macOS/x86_64/synchronization.swift
Owners: @DougGregor

[Runtime] Add `swift_retainMultiple`/`swift_releaseMultiple`.
  include/swift/AST/FeatureAvailability.def
  include/swift/Runtime/HeapObject.h
  include/swift/Runtime/RuntimeFunctions.def
  lib/IRGen/IRGenModule.cpp
  stdlib/public/runtime/HeapObject.cpp
  unittests/runtime/Refcounting.cpp
Owners: @rudkx, @DougGregor

Add presets for using lld as the default linker
  utils/build-presets.ini
Owners: @rudkx

[Diagnostics] Add -no-warning-as-error to except a specific warning from being treated as an error
  include/swift/AST/DiagnosticEngine.h
  include/swift/Basic/DiagnosticOptions.h
  include/swift/Option/Options.td
  lib/AST/DiagnosticEngine.cpp
  lib/Driver/ToolChains.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/Frontend.cpp
  test/diagnostics/warnings_as_errors_exceptions.swift
Owners: @rudkx, @DougGregor

[region-isolation] Make store_borrow a store operation that does not require.
  include/swift/SILOptimizer/Utils/PartitionUtils.h
  lib/SILOptimizer/Analysis/RegionAnalysis.cpp
  test/Concurrency/transfernonsendable.swift
  test/Concurrency/transfernonsendable_asynclet.swift
Owners: @DougGregor

[Dependency Scanning] Emit diagnostics from compilation instance initialization
  include/swift/DependencyScan/DependencyScanningTool.h
  lib/DependencyScan/DependencyScanningTool.cpp
  lib/DependencyScan/ModuleDependencyScanner.cpp
  lib/DependencyScan/ScanDependencies.cpp
  tools/libSwiftScan/libSwiftScan.cpp
Owners: @DougGregor

[Dependency Scanning] Emit error diagnostic on empty string scanner arguments
  include/swift/AST/DiagnosticsFrontend.def
  lib/DependencyScan/DependencyScanningTool.cpp
Owners: @rudkx, @DougGregor

Filter object file from CASOutputBackend in MCCAS.
  lib/Frontend/Frontend.cpp
Owners: @rudkx

Store MCCAS ObjectRef as CASOutputBackend's main output.
  include/swift/Frontend/CASOutputBackends.h
  lib/Frontend/CASOutputBackends.cpp
  lib/FrontendTool/FrontendTool.cpp
Owners: @rudkx

Add support for MCCAS in replay logic for swift
  include/swift/Frontend/CachingUtils.h
  lib/Frontend/CachingUtils.cpp
  lib/FrontendTool/FrontendTool.cpp
  test/CAS/cache_replay_mccas.swift
  test/CAS/cache_replay_multiple_files_mccas.swift
Owners: @rudkx, @DougGregor

Add swift-testing to update-checkout
  utils/update_checkout/update-checkout-config.json
Owners: @DougGregor

[NFC] Factor out DiagnosticBridge between swift-syntax
  include/swift/AST/DiagnosticBridge.h
  include/swift/Frontend/PrintingDiagnosticConsumer.h
  lib/AST/CMakeLists.txt
  lib/AST/DiagnosticBridge.cpp
  lib/Frontend/PrintingDiagnosticConsumer.cpp
Owners: @rudkx

[Caching] Support swift style diagnostics for swift caching
  include/swift/AST/DiagnosticEngine.h
  include/swift/Basic/SourceManager.h
  lib/AST/DiagnosticEngine.cpp
  lib/Frontend/CachedDiagnostics.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Sema/TypeCheckMacros.cpp
  test/CAS/cached_diagnostics_macro.swift
Owners: @rudkx, @DougGregor

Invoke foundation tests via SwiftPM
  utils/build.ps1
  utils/swift_build_support/swift_build_support/build_script_invocation.py
  utils/swift_build_support/swift_build_support/products/__init__.py
  utils/swift_build_support/swift_build_support/products/foundationtests.py
  utils/swift_build_support/swift_build_support/products/swiftfoundationtests.py
Owners: @rudkx, @DougGregor

Better diags for ImplicitlyUnwrapped Existential
  include/swift/AST/DiagnosticsSema.def
  lib/Sema/TypeCheckType.cpp
Owners: @rudkx

add test cases for misplaced '!' for existential types
  test/type/explicit_existential.swift
Owners: @rudkx

Driver: introduce `-sysroot` option for non-Darwin targets
  include/swift/AST/SearchPathOptions.h
  include/swift/Option/Options.td
  lib/ClangImporter/ClangImporter.cpp
  lib/ClangImporter/ClangIncludePaths.cpp
  lib/Driver/ToolChains.cpp
  lib/Frontend/CompilerInvocation.cpp
Owners: @rudkx

[SIL] Delete rc insts in dead end blocks.
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/CMakeLists.txt
  SwiftCompilerSources/Sources/Optimizer/FunctionPasses/UnreachableBlockOptimization.swift
  SwiftCompilerSources/Sources/Optimizer/PassManager/PassRegistration.swift
  include/swift/SILOptimizer/PassManager/Passes.def
  lib/SILOptimizer/PassManager/PassPipeline.cpp
  test/SILOptimizer/unreachable_block_optimization.sil
Owners: @DougGregor, @rudkx

[DNM] Enable lifetime completion.
  include/swift/AST/SILOptions.h
  lib/DriverTool/sil_opt_main.cpp
  test/AutoDiff/SILOptimizer/activity_analysis.swift
  test/SILGen/rethrows.swift
Owners: @rudkx, @DougGregor
